# Advanced Querying Mongo

Importing libraries and setting up connection

In [201]:
from pymongo import MongoClient
import numpy as np
import pymongo
import pandas as pd
cliente = pymongo.MongoClient()
cliente

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [194]:
pd.options.display.max_columns = None

In [202]:
base = cliente.MONGOLAB
coleccion = base.cliente


datos.list_database_names()

['MONGOLAB', 'admin', 'config', 'local']

In [167]:
df = pd.read_json("../companies.json", lines=True)

In [168]:
df.head()

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,founded_month,founded_day,deadpooled_year,tag_list,alias_list,email_address,phone_number,description,created_at,updated_at,overview,image,products,relationships,competitions,providerships,total_money_raised,funding_rounds,investments,acquisition,acquisitions,offices,milestones,video_embeds,screenshots,external_links,partners,deadpooled_month,deadpooled_day,deadpooled_url,ipo
0,{'$oid': '52cdef7c4bab8bd675297d8a'},Wetpaint,abc2,http://www.crunchbase.com/company/wetpaint,http://wetpaint-inc.com,http://digitalquarters.net/,http://digitalquarters.net/feed/,BachelrWetpaint,web,47.0,2005.0,10.0,17.0,1.0,"wiki, seattle, elowitz, media-industry, media-...",,info@wetpaint.com,206.859.6300,Technology Platform Company,{'$date': 1180075887000},2013-12-08 07:15:44+00:00,<p>Wetpaint is a technology platform company t...,"{'available_sizes': [[[150, 75], 'assets/image...","[{'name': 'Wikison Wetpaint', 'permalink': 'we...","[{'is_past': False, 'title': 'Co-Founder and V...","[{'competitor': {'name': 'Wikia', 'permalink':...",[],$39.8M,"[{'id': 888, 'round_code': 'a', 'source_url': ...",[],"{'price_amount': 30000000, 'price_currency_cod...",[],"[{'description': '', 'address1': '710 - 2nd Av...","[{'id': 5869, 'description': 'Wetpaint named i...",[],"[{'available_sizes': [[[150, 86], 'assets/imag...",[{'external_url': 'http://www.geekwire.com/201...,[],NaN,NaN,NaN,NaN
1,{'$oid': '52cdef7c4bab8bd675297d8b'},AdventNet,abc3,http://www.crunchbase.com/company/adventnet,http://adventnet.com,,,manageengine,enterprise,600.0,1996.0,NaN,NaN,2.0,,Zoho ManageEngine,pr@adventnet.com,925-924-9500,Server Management Software,{'$date': 1180121062000},2012-10-31 18:26:09+00:00,"<p>AdventNet is now <a href=""/company/zoho-man...","{'available_sizes': [[[150, 55], 'assets/image...",[],"[{'is_past': True, 'title': 'CEO and Co-Founde...",[],"[{'title': 'DHFH', 'is_past': True, 'provider'...",$0,[],[],None,[],"[{'description': 'Headquarters', 'address1': '...",[],[],"[{'available_sizes': [[[150, 94], 'assets/imag...",[],[],NaN,NaN,NaN,NaN
2,{'$oid': '52cdef7c4bab8bd675297d8c'},Zoho,abc4,http://www.crunchbase.com/company/zoho,http://zoho.com,http://blogs.zoho.com/,http://blogs.zoho.com/feed,zoho,software,1600.0,2005.0,9.0,15.0,3.0,"zoho, officesuite, spreadsheet, writer, projec...",,info@zohocorp.com,1-888-204-3539,Online Business Apps Suite,Fri May 25 19:30:28 UTC 2007,2013-10-30 00:07:05+00:00,"<p>Zoho offers a suite of Business, Collaborat...","{'available_sizes': [[[150, 55], 'assets/image...","[{'name': 'Zoho Office Suite', 'permalink': 'z...","[{'is_past': False, 'title': 'CEO and Founder'...","[{'competitor': {'name': 'Empressr', 'permalin...",[],$0,[],[],None,[],"[{'description': 'Headquarters', 'address1': '...","[{'id': 388, 'description': 'Zoho Reaches 2 Mi...","[{'embed_code': '<object width=""430"" height=""2...",[],[{'external_url': 'http://www.online-tech-tips...,[],NaN,NaN,NaN,NaN
3,{'$oid': '52cdef7c4bab8bd675297d8d'},Digg,digg,http://www.crunchbase.com/company/digg,http://www.digg.com,http://blog.digg.com/,http://blog.digg.com/?feed=rss2,digg,news,60.0,2004.0,10.0,11.0,NaN,"community, social, news, bookmark, digg, techn...",,feedback@digg.com,(415) 436-9638,user driven social content website,Fri May 25 20:03:23 UTC 2007,2013-11-05 21:35:47+00:00,<p>Digg is a user driven social content websit...,"{'available_sizes': [[[150, 150], 'assets/imag...","[{'name': 'Digg', 'permalink': 'digg'}]","[{'is_past': False, 'title': 'CEO', 'person': ...","[{'competitor': {'name': 'Reddit', 'permalink'...","[{'title': 'Public Relations', 'is_past': True...",$45M,"[{'id': 1, 'round_code': 'b', 'source_url': 'h...",[],"{'price_amount': 500000, 'price_currency_code'...","[{'price_amount': None, 'price_currency_code':...","[{'description': None, 'address1': '135 Missis...","[{'id': 9588, 'description': 'Another Digg Exe...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[117, 150], 'assets/ima...",[{'external_url': 'http://www.sociableblog.com...,[],NaN,NaN,None,None
4,{'$oid': '52cdef7c4bab8bd675297d8e'},Facebook,facebook,http://www.crunchbase.com/company/facebook,http://facebook.com,http://blog.facebook.com,http://blog.facebook.com/atom.php,facebook,social,5299.0,2004.0,2.0,1.0,NaN,"facebook, college, students, profiles, network...",,,,Social network,Fri May 25 21:22:15 UTC 2007,2013-11-21 19:40:55+00:00,<p>Facebook is the world&#8217;s largest socia...,"{'available_sizes': [[[150, 61], 'assets/image...","[{'name': 'Facebook Platform', 'permalink': 'f...","[{'is_past': False, 'title': 'Founder and CEO,...","[{'competitor': {'name': 'MySpace', 'permalink...","[{'title': '', 'is_past': False, 'provider': {...",$2.43B,"[{'id': 2, 'round_code': 'angel', 'source_url'...","[{'funding_round': {'round_code': 'seed', 'sou...",None,"[{'price_amount': None, 'price_currency_code':...","[{'description': 'Headquarters', 'address1': '...","[{'id': 108, 'description': 'Facebook adds com...",[],"[{'available_sizes': [[[150, 68], 'assets/imag...",[{'external_url': 'http://latimesblogs.latimes...,[],NaN,NaN,,"{'valuation_amount': 104000000000, 'valuation_..."

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [204]:
babelgum = list(coleccion.find({"name":"Babelgum"}))[:5]

babelgum

[{'_id': ObjectId('52cdef7c4bab8bd675297da0'),
  'name': 'Babelgum',
  'permalink': 'babelgum',
  'crunchbase_url': 'http://www.crunchbase.com/company/babelgum',
  'homepage_url': 'http://babelgum.com',
  'blog_url': 'http://babelgum.com/blog',
  'blog_feed_url': 'http://feeds.feedburner.com/Babelgum',
  'twitter_username': 'Babelgum',
  'category_code': 'games_video',
  'number_of_employees': None,
  'founded_year': 2007,
  'founded_month': 3,
  'founded_day': 1,
  'deadpooled_year': 2013,
  'deadpooled_month': 1,
  'deadpooled_day': 9,
  'deadpooled_url': '',
  'tag_list': 'iptv, web2ireland',
  'alias_list': '',
  'email_address': 'info@babelgum.com',
  'phone_number': '',
  'description': '',
  'created_at': 'Sat Jun 09 08:15:21 UTC 2007',
  'updated_at': 'Wed Oct 16 06:30:25 UTC 2013',
  'overview': '<p>Babelgum is an integrated web and mobile video content platform, free for users and supported by advertising, available on-demand to a global audience.</p>\n\n<p>On March 20th 2009 Babelgum released a U.S. version of its mobile video application for iPhone and iPod Touch (previously available in Italy and the UK) and simultaneously launched a redesigned website (www.babelgum.com) with a Flash-based player, offering one of the first fully integrated video mobile and web user experiences.</p>\n\n<p>Babelgum Mobile is currently available in the United States, UK, Italy, Germany, France and Spain and over 50 other countries across the globe on iPhone 3G, iPod Touch, Google Android G-Phones 1 and 2, Nokia (N96, N95 and 6210) via 3G and WiFi.</p>\n\n<p>Babelgum is an independent and privately held company with offices in the United States, UK, Ireland, France and Italy.</p>\n\n<p>TRAFFIC FIGURES</p>\n\n<p>In July 2009 Babelgum recorded on its website over 2 million monthly unique users worldwide â€“ 1.7 million in the US alone (Source: comScore). Over 2 million people have downloaded the Babelgum mobile applications and watched videos on them.</p>\n\n<p>DEVELOPMENT STRATEGY</p>\n\n<p>In Europe, Babelgum made a strategic agreement with Vodafone to launch a mobile service that allows users to watch videos for free also over 3G networks (Vodafone supports marketing campaigns through SMS and other PR activities targeting their Customer Base). Babelgum is also seeking selected strategic partnerships in the United States.</p>\n\n<p>BABELGUMâ€™S EDITORIAL APPROACH TO CONTENT</p>\n\n<p>Positioned between user generated video hubs and network TV-oriented destinations, Babelgum has a unique editorial approach which focuses on the third part of the ecosystem: innovative, professionally produced content on very specific passions curated by experts in their fields. </p>\n\n<p>The editorial team is driven by professional publishers who scout and select programming for the following channels: Music, Comedy, Film, Our Earth (dedicated to nature and the environment) and Metropolis (all about urban culture and trends). </p>\n\n<p>The mobile and web platforms are integrated functionally and graphically and complement each other, although mobile programming is more carefully tailored to local markets, based on research into national tastes and viewing habits. </p>\n\n<p>Babelgumâ€™s content comprises independent and mainstream programming as well as exclusive original productions.</p>\n\n<p>LIST OF MAIN CONTENT PROVIDERS:</p>\n\n<p>Babelgumâ€™s content partners include, among others, EMI, Sony BMG, the New York Times, PBS, BBC, VBS, Lonely Planet, Coolhunting, National Geographic, Funny or Die, T5M, Shine Limited, Cinetic Rights Management, Content Republic, Gong Anime, The Workbook Project, Cinelan, Power to the Pixel and Off the Fence as well as the Seattle, Encounters, Los Angeles, and Hamptons film festivals.</p>\n\n<p>ONLINE VIDEO COMPETITIONS:</p>\n\n<p>The company has also set up a series of online contests to nurture independent film, music and art talent: the Babelgum Online Film Festival, the Babelgum Music Video Awards and the Babelgum Metropolis Art Prize chaired respectively by Spike Lee, Michel Gondry and Isabella Rossellini.</p>',
  'image': {'available_sizes': [[[135, 102],
     'assets/images/resized/0006/7738/67738v2-max-150x150.png'],
    [[135, 102], 'assets/images/resized/0006/7738/67738v2-max-250x250.png'],
    [[135, 102], 'assets/images/resized/0006/7738/67738v2-max-450x450.png']],
   'attribution': None},
  'products': [{'name': 'Babelgum', 'permalink': 'babelgum'}],
  'relationships': [{'is_past': False,
    'title': 'CEO',
    'person': {'first_name': 'Valerio',
     'last_name': 'Zingarelli',
     'permalink': 'valerio-zingarelli'}},
   {'is_past': True,
    'title': 'CTO',
    'person': {'first_name': 'Mallku',
     'last_name': 'Caballero',
     'permalink': 'mallku-caballero'}},
   {'is_past': True,
    'title': '',
    'person': {'first_name': 'Michael',
     'last_name': "O'Callaghan",
     'permalink': 'michael-o-callaghan'}},
   {'is_past': True,
    'title': '',
    'person': {'first_name': 'Erik',
     'last_name': 'Lumer',
     'permalink': 'erik-lumer'}},
   {'is_past': True,
    'title': 'Engineering Director',
    'person': {'first_name': 'Mark',
     'last_name': 'Kearns',
     'permalink': 'mark-kearns'}}],
  'competitions': [{'competitor': {'name': 'Joost', 'permalink': 'joost'}},
   {'competitor': {'name': 'Zattoo', 'permalink': 'zattoo'}},
   {'competitor': {'name': 'Veoh', 'permalink': 'veoh'}},
   {'competitor': {'name': 'Vudu', 'permalink': 'vudu'}},
   {'competitor': {'name': 'Inuk Networks', 'permalink': 'inuk-networks'}},
   {'competitor': {'name': 'Participatory Culture Foundation',
     'permalink': 'participatory-culture-foundation'}},
   {'competitor': {'name': 'Next New Networks',
     'permalink': 'next-new-networks'}}],
  'providerships': [],
  'total_money_raised': '$13.2M',
  'funding_rounds': [{'id': 17,
    'round_code': 'a',
    'source_url': 'http://www.redherring.com/Article.aspx?a=21800&hed=Battle+of+the+Billionaires&sector=Regions&subsector=Europe',
    'source_description': '',
    'raised_amount': 13200000,
    'raised_currency_code': 'USD',
    'funded_year': 2005,
    'funded_month': 6,
    'funded_day': 1,
    'investments': [{'company': None,
      'financial_org': None,
      'person': {'first_name': 'Silvio',
       'last_name': 'Scaglia',
       'permalink': 'silvio-scaglia'}}]}],
  'investments': [],
  'acquisition': None,
  'acquisitions': [],
  'offices': [{'description': '',
    'address1': '',
    'address2': '',
    'zip_code': '',
    'city': 'London',
    'state_code': None,
    'country_code': 'GBR',
    'latitude': 53.344104,
    'longitude': -6.267494}],
  'milestones': [],
  'ipo': None,
  'video_embeds': [],
  'screenshots': [],
  'external_links': [],
  'partners': []}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [206]:
empleados = pd.DataFrame(list(coleccion.find({"number_of_employees":{"$gt": 5000}}).sort("number_of_employees", -1)[:20]))
empleados.head(2)

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,founded_month,founded_day,deadpooled_year,deadpooled_month,deadpooled_day,deadpooled_url,tag_list,alias_list,email_address,phone_number,description,created_at,updated_at,overview,image,products,relationships,competitions,providerships,total_money_raised,funding_rounds,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7d4bab8bd67529941a,Siemens,siemens,http://www.crunchbase.com/company/siemens,http://www.siemens.com,,,Siemens,hardware,405000,1847.0,NaN,NaN,None,None,None,None,"automation, building-technologies, drive-techn...",,contact@siemens.com,49 89 636 34134,Electronics and Electrical Engineering,Thu Jul 31 09:29:43 UTC 2008,Thu Nov 28 20:32:55 UTC 2013,"<p>Siemens AG, an electronics and electrical e...","{'available_sizes': [[[150, 34], 'assets/image...",[],"[{'is_past': False, 'title': 'Chairman, Superv...",[],"[{'title': 'Application Development', 'is_past...",$8.9M,"[{'id': 17062, 'round_code': 'grant', 'source_...",[],None,"[{'price_amount': 418000000, 'price_currency_c...","[{'description': '', 'address1': 'Wittelsbache...","[{'id': 35852, 'description': 'Siemens Receive...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<iframe width=""420"" height=""3...","[{'available_sizes': [[[150, 92], 'assets/imag...",[],[]
1,52cdef7c4bab8bd67529856a,IBM,ibm,http://www.crunchbase.com/company/ibm,http://www.ibm.com,,,IBM,software,388000,1896.0,NaN,NaN,None,None,None,,,,ews@us.ibm.com,914-499-1900,,Fri Mar 14 22:55:52 UTC 2008,Sat Jan 04 02:56:24 UTC 2014,"<p>IBM, acronym for International Business Mac...","{'available_sizes': [[[150, 60], 'assets/image...","[{'name': 'Lotus Notes', 'permalink': 'lotus-n...","[{'is_past': False, 'title': 'Chairman of the ...","[{'competitor': {'name': 'BEA Systems', 'perma...","[{'title': '', 'is_past': False, 'provider': {...",$0,[],"[{'funding_round': {'round_code': 'c', 'source...",None,"[{'price_amount': None, 'price_currency_code':...","[{'description': 'Corporate Headquarters', 'ad...","[{'id': 10471, 'description': 'IBM Completes A...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[150, 93], 'assets/imag...","[{'external_url': 'http://mashpedia.com/IBM', ...",[]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [207]:
condicc1 = {"founded_year":{"$gte": 2000}}
condicc2 = {"founded_year":{"$lte": 2005}}
years = pd.DataFrame(list(coleccion.find({"$and":[cond1, cond2]}, {"name":1,"founded_year":1,"_id":0})))
years.head()

       name  founded_year
0  Facebook          2004
1   Twitter          2006
2      Yelp          2004
3  LinkedIn          2003
4    Amazon          1994

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [208]:
condicc1 = {"founded_year":{"$lt": 2010}}
condicc2 = {"ipo.valuation_amount":{"$gt": 100000000}}
valuation = pd.DataFrame(list(coleccion.find({"$and":[condicc1, condicc2]}, {"name":1,"ipo":1,"_id":0})))
valuation.head()

       name                                                ipo
0  Facebook  {'valuation_amount': 104000000000, 'valuation_...
1   Twitter  {'valuation_amount': 18100000000, 'valuation_c...
2      Yelp  {'valuation_amount': 1300000000, 'valuation_cu...
3  LinkedIn  {'valuation_amount': 9310000000, 'valuation_cu...
4    Amazon  {'valuation_amount': 100000000000, 'valuation_...

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [209]:
cond3 = {"number_of_employees":{"$lt": 1000}}
cond4 = {"founded_year":{"$lt": 2004}}
employes = pd.DataFrame(list(coleccion.find({"$and":[cond3, cond4]}, {"name":1,"_id":0}).sort("number_of_employees", -1)[:10]))
employes.head()

                              name
0             Infinera Corporation
1  NorthPoint Communications Group
2                     888 Holdings
3               Forrester Research
4                        SonicWALL

### 6. All the companies that don't include the `partners` field.

In [211]:
partners = pd.DataFrame(list(coleccion.find({"partners": {'$exists': False}}, {"name":1,"_id":0})))
partners.head()

Empty DataFrame
Columns: []
Index: []

### 7. All the companies that have a null type of value on the `category_code` field.

In [212]:
null = pd.DataFrame(list(coleccion.find({"category_code":{"$type":"null"}}, {"name":1,"_id":0})))
null.head()

           name
0    Collective
1       Snimmer
2        KoolIM
3  Level9 Media
4       VidKing

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [213]:
condic5 = {"number_of_employees":{"$gte": 100}}
condic6 = {"number_of_employees":{"$lt": 1000}}
soluccion = pd.DataFrame(list(coleccion.find({"$and":[condic5, condic6]}, {"name":1,"number_of_employees":1 ,"_id":0})))
soluccion.head()

        name  number_of_employees
0  AdventNet                  600
1    AddThis                  120
2      OpenX                  305
3   LifeLock                  644
4      Jajah                  110

### 9. Order all the companies by their IPO price in a descending order.

In [214]:
IPO = pd.DataFrame(list(coleccion.find((),{"name":1,"_id":0}).sort("ipo", -1)))
IPO.head()

       name
0      GREE
1  Facebook
2    Amazon
3   Twitter
4   Groupon

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [215]:
Maxemployees = pd.DataFrame(list(coleccion.find((),{"name":1,"_id":0}).sort("number_of_employees", -1)[:10]))
Maxemployees

                                         name
0                                     Siemens
1                                         IBM
2                                      Toyota
3                                      PayPal
4  Nippon Telegraph and Telephone Corporation
5                         Samsung Electronics
6                                   Accenture
7                   Tata Consultancy Services
8                   Flextronics International
9                                     Safeway

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [216]:
Foundedtime = pd.DataFrame(list(coleccion.find(({"founded_month":{"$gt":6}}),{"name":1,"_id":0}))[:1000])
Foundedtime.head()

        name
0   Wetpaint
1       Zoho
2       Digg
3  Omnidrive
4       eBay

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [217]:
condicc7 = {"founded_year":{"$lt": 2000}}
condicc8 = {"acquisition.price_amount":{"$gt": 10000000}}
companiesFounded = pd.DataFrame(list(coleccion.find({"$and":[condicc7, condicc8]}, {"name":1,"_id":0})))
companiesFounded.head()

         name
0     Postini
1    SideStep
2  Recipezaar
3      PayPal
4    Snapfish

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [218]:
Acquisition= pd.DataFrame(list(coleccion.find({"acquisition.acquired_year":{"$gt":2010}},
               {"name":1,"acquisition.price_amount":1,"_id":0}).sort("acquisition.price_amount",-1)))
Acquisition.head()

                     name                    acquisition
0                T-Mobile  {'price_amount': 39000000000}
1    Goodrich Corporation  {'price_amount': 18400000000}
2                     LSI   {'price_amount': 6600000000}
3  National Semiconductor   {'price_amount': 6500000000}
4                   Ariba   {'price_amount': 4300000000}

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [219]:
YEARF = pd.DataFrame(list(coleccion.find((),{"name":1,"founded_year":1,"_id":0}).sort("founded_year", -1)))
YEARF.head()

        name  founded_year
0      Fixya        2013.0
1      Wamba        2013.0
2  Advaliant        2013.0
3       Fluc        2013.0
4     iBazar        2013.0

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [220]:
primerasemana = pd.DataFrame(list(coleccion.find((),{"name":1,"founded_year":1,"_id":0}).sort("founded_year", -1)))
primerasemana.head(10)

        name  founded_year
0      Fixya        2013.0
1      Wamba        2013.0
2  Advaliant        2013.0
3       Fluc        2013.0
4     iBazar        2013.0
5     Gimigo        2013.0
6   SEOGroup        2013.0
7     Clowdy        2013.0
8   WhosCall        2013.0
9       Pikk        2013.0

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [221]:
condicc9 = {"number_of_employees":{"$gt":4000}}
condicc10 = {"category_code":"web"}
Webcategory = pd.DataFrame(list(coleccion.find({"$and":[condicc9,condicc10]},{"name":1,"_id":0}).sort("number_of_employees",-1)))
Webcategory.head()

                            name
0                       Experian
1                           eBay
2                         Yahoo!
3                        Rakuten
4  Los Angeles Times Media Group

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [222]:
condicc11 = {"acquisition.price_amount":{"$gt":10000000}}
condicc12 = {"acquisition.price_currency_code":"EUR"}
EUROS = pd.DataFrame(list(coleccion.find({"$and":[condicc11,condicc12]},{"name":1,"_id":0})))
EUROS

                  name
0                  ZYB
1              Apertio
2    Greenfield Online
3              Webedia
4            Wayfinder
5  Tuenti Technologies
6       BioMed Central

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [223]:
Primertrimestre = pd.DataFrame(list(coleccion.find(({"acquisition.acquired_month":{"$lte":3}}),{"name":1,"acquisition":1,"_id":0}))[:10])
Primertrimestre.head()

         name                                        acquisition
0        Kyte  {'price_amount': None, 'price_currency_code': ...
1  NetRatings  {'price_amount': 327000000, 'price_currency_co...
2      blogTV  {'price_amount': None, 'price_currency_code': ...
3  Livestream  {'price_amount': None, 'price_currency_code': ...
4    iContact  {'price_amount': 169000000, 'price_currency_co...

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code