# Advanced Querying Mongo

Importing libraries and setting up connection

In [22]:
from pymongo import MongoClient
import pymongo ## lo voy a improtar todo again sorry
import pandas as pd
import json
pd.options.display.max_columns = None

In [65]:
## me traigo el dataframe
df = pd.read_json("../companies.json", lines=True)
df.head(1)

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,founded_month,founded_day,deadpooled_year,tag_list,alias_list,email_address,phone_number,description,created_at,updated_at,overview,image,products,relationships,competitions,providerships,total_money_raised,funding_rounds,investments,acquisition,acquisitions,offices,milestones,video_embeds,screenshots,external_links,partners,deadpooled_month,deadpooled_day,deadpooled_url,ipo
0,{'$oid': '52cdef7c4bab8bd675297d8a'},Wetpaint,abc2,http://www.crunchbase.com/company/wetpaint,http://wetpaint-inc.com,http://digitalquarters.net/,http://digitalquarters.net/feed/,BachelrWetpaint,web,47.0,2005.0,10.0,17.0,1.0,"wiki, seattle, elowitz, media-industry, media-...",,info@wetpaint.com,206.859.6300,Technology Platform Company,{'$date': 1180075887000},2013-12-08 07:15:44+00:00,<p>Wetpaint is a technology platform company t...,"{'available_sizes': [[[150, 75], 'assets/image...","[{'name': 'Wikison Wetpaint', 'permalink': 'we...","[{'is_past': False, 'title': 'Co-Founder and V...","[{'competitor': {'name': 'Wikia', 'permalink':...",[],$39.8M,"[{'id': 888, 'round_code': 'a', 'source_url': ...",[],"{'price_amount': 30000000, 'price_currency_cod...",[],"[{'description': '', 'address1': '710 - 2nd Av...","[{'id': 5869, 'description': 'Wetpaint named i...",[],"[{'available_sizes': [[[150, 86], 'assets/imag...",[{'external_url': 'http://www.geekwire.com/201...,[],NaN,NaN,NaN,NaN

In [3]:
## genero el cliente
cliente = pymongo.MongoClient()
cliente

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [72]:
## me creo una base de datos nueva
db = cliente["companies"]

In [73]:
## creo una colecci√≥n dentro de mi bbdd

coleccion = db.detalles

In [54]:
type(df.to_dict('records'))

list

In [69]:
## insertar el df que acabo de cargar a mi bbdd -- > me da error, as√≠ que lo voy a subir a la bbdd a mano
df_toinsert = df.to_dict('records')
#coleccion.insert_many(df_toinsert)

In [70]:
## checkeo y el import desde mongo se ha hecho con √©xito
cliente.list_database_names()

['admin',
 'alojamientos_data',
 'alojamientos_data2',
 'companies',
 'config',
 'local']

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [79]:
db.coleccion.find(
  {}
) ## as√≠ es como tengo que llamar a mi bbdd

In [89]:
# Your Code
pd.DataFrame(db.coleccion.find({"name":"Babelgum"}, {'name':1})) ## uso proyecciones para que me d√© solo el nombre de la empresa

                        _id      name
0  52cdef7c4bab8bd675297da0  Babelgum

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [90]:
# Your Code

companies_by_employees = pd.DataFrame(db.coleccion.find({'number_of_employees': {"$gt": 5000}}).sort("number_of_employees", -1).limit(20))
print(companies_by_employees.shape)
companies_by_employees.head(2)

(20, 42)

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,founded_month,founded_day,deadpooled_year,deadpooled_month,deadpooled_day,deadpooled_url,tag_list,alias_list,email_address,phone_number,description,created_at,updated_at,overview,image,products,relationships,competitions,providerships,total_money_raised,funding_rounds,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7d4bab8bd67529941a,Siemens,siemens,http://www.crunchbase.com/company/siemens,http://www.siemens.com,,,Siemens,hardware,405000,1847.0,NaN,NaN,None,None,None,None,"automation, building-technologies, drive-techn...",,contact@siemens.com,49 89 636 34134,Electronics and Electrical Engineering,Thu Jul 31 09:29:43 UTC 2008,Thu Nov 28 20:32:55 UTC 2013,"<p>Siemens AG, an electronics and electrical e...","{'available_sizes': [[[150, 34], 'assets/image...",[],"[{'is_past': False, 'title': 'Chairman, Superv...",[],"[{'title': 'Application Development', 'is_past...",$8.9M,"[{'id': 17062, 'round_code': 'grant', 'source_...",[],None,"[{'price_amount': 418000000, 'price_currency_c...","[{'description': '', 'address1': 'Wittelsbache...","[{'id': 35852, 'description': 'Siemens Receive...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<iframe width=""420"" height=""3...","[{'available_sizes': [[[150, 92], 'assets/imag...",[],[]
1,52cdef7c4bab8bd67529856a,IBM,ibm,http://www.crunchbase.com/company/ibm,http://www.ibm.com,,,IBM,software,388000,1896.0,NaN,NaN,None,None,None,,,,ews@us.ibm.com,914-499-1900,,Fri Mar 14 22:55:52 UTC 2008,Sat Jan 04 02:56:24 UTC 2014,"<p>IBM, acronym for International Business Mac...","{'available_sizes': [[[150, 60], 'assets/image...","[{'name': 'Lotus Notes', 'permalink': 'lotus-n...","[{'is_past': False, 'title': 'Chairman of the ...","[{'competitor': {'name': 'BEA Systems', 'perma...","[{'title': '', 'is_past': False, 'provider': {...",$0,[],"[{'funding_round': {'round_code': 'c', 'source...",None,"[{'price_amount': None, 'price_currency_code':...","[{'description': 'Corporate Headquarters', 'ad...","[{'id': 10471, 'description': 'IBM Completes A...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[150, 93], 'assets/imag...","[{'external_url': 'http://mashpedia.com/IBM', ...",[]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [93]:
# Your Code
cond01 = {'founded_year': {"$gte": 2000}}
cond02 = {'founded_year': {"$lte": 2005}}

companies_btw_2000_2005 = pd.DataFrame(db.coleccion.find({'$and': [cond01,cond02]}, {'name':1, 'founded_year':1}))
print(companies_btw_2000_2005.shape)
companies_btw_2000_2005.head(3)

(3734, 3)

                        _id      name  founded_year
0  52cdef7c4bab8bd675297d8a  Wetpaint          2005
1  52cdef7c4bab8bd675297d8c      Zoho          2005
2  52cdef7c4bab8bd675297d8d      Digg          2004

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [103]:
# Your Code
cond01 = {'ipo.valuation_amount': {"$gte": 100000000}}
cond02 = {'founded_year': {"$lt": 2010}}

companies_100M_2010 = pd.DataFrame(db.coleccion.find({'$and': [cond01,cond02]}, {'ipo':1, 'founded_year':1}))
print(companies_100M_2010.shape)
companies_100M_2010.head(3)

(42, 3)

,_id,founded_year,ipo
0,52cdef7c4bab8bd675297d8e,2004,"{'valuation_amount': 104000000000, 'valuation_..."
1,52cdef7c4bab8bd675297d94,2006,"{'valuation_amount': 18100000000, 'valuation_c..."
2,52cdef7c4bab8bd675297de0,2004,"{'valuation_amount': 1300000000, 'valuation_cu..."

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [106]:
# Your Code
cond01 = {'number_of_employees': {"$lt": 1000}}
cond02 = {'founded_year': {"$lt": 2005}}

companies_2005_1000emp = pd.DataFrame(db.coleccion.find({'$and': [cond01,cond02]}).sort("number_of_employees", -1).limit(20))
print(companies_2005_1000emp.shape)
companies_2005_1000emp.head(2)

(20, 42)

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,founded_month,founded_day,deadpooled_year,deadpooled_month,deadpooled_day,deadpooled_url,tag_list,alias_list,email_address,phone_number,description,created_at,updated_at,overview,image,products,relationships,competitions,providerships,total_money_raised,funding_rounds,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7d4bab8bd675298933,Infinera Corporation,infinera,http://www.crunchbase.com/company/infinera,http://www.infinera.com,,,InfineraCorp,network_hosting,974,2000,NaN,NaN,None,None,None,None,None,Zepton Networks,,408-572-5200,Optical Networking Systems,Tue Apr 29 19:43:09 UTC 2008,Tue Jan 10 22:07:21 UTC 2012,<p>Infinera Corporation provides optical netwo...,"{'available_sizes': [[[150, 38], 'assets/image...",[],"[{'is_past': False, 'title': 'CEO', 'person': ...",[],[],$0,[],[],None,[],"[{'description': 'Headquarters', 'address1': '...","[{'id': 20267, 'description': 'Infinera PICs S...","{'valuation_amount': None, 'valuation_currency...",[],"[{'available_sizes': [[[150, 112], 'assets/ima...",[],[]
1,52cdef7e4bab8bd67529ac95,NorthPoint Communications Group,northpoint-communications-group,http://www.crunchbase.com/company/northpoint-c...,,,,,network_hosting,948,1997,NaN,NaN,None,None,None,None,None,,,415-403-4003,data transport services,Fri Jan 16 03:27:17 UTC 2009,Sun Jun 20 20:07:21 UTC 2010,"<p>NorthPoint Communications Group, Inc. provi...",None,[],"[{'is_past': True, 'title': 'SVP, Business Dev...",[],[],$0,[],[],None,[],"[{'description': 'HQ', 'address1': '303 Second...",[],None,[],[],[],[]

### 6. All the companies that don't include the `partners` field.

In [125]:
# Your Code
pd.DataFrame(db.coleccion.find({ 'partners': { '$exists': False}}, {'name':1} )) ##funciona, pero no da resultados

Empty DataFrame
Columns: []
Index: []

### 7. All the companies that have a null type of value on the `category_code` field.

In [137]:
# Your Code
null_category = pd.DataFrame(db.coleccion.find({"category_code":{"$type":"null"}},{"name":1}))
print(null_category.shape)
null_category.head(1)

(2751, 2)

                        _id        name
0  52cdef7c4bab8bd6752980f6  Collective

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [139]:
# Your Code
cond01 = {'number_of_employees': {"$gt": 100}}
cond02 = {'number_of_employees': {"$lt": 1000}}

companies_100_1000 = pd.DataFrame(db.coleccion.find({'$and': [cond01,cond02]}, {'name':1, 'number_of_employees':1, '_id':0}))
print(companies_100_1000.shape)
companies_100_1000.head(2)

(753, 2)

        name  number_of_employees
0  AdventNet                  600
1    AddThis                  120

### 9. Order all the companies by their IPO price in a descending order.

In [144]:
# Your Code
pd.DataFrame(db.coleccion.find((),{"name":1,"_id":0, "ipo.valuation_amount":1}).sort("ipo.valuation_amount", -1).limit(3))

       name                                 ipo
0      GREE  {'valuation_amount': 108960000000}
1  Facebook  {'valuation_amount': 104000000000}
2    Amazon  {'valuation_amount': 100000000000}

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [146]:
# Your Code
top10_employees = pd.DataFrame(db.coleccion.find((),{"name":1,"_id":0, "number_of_employees":1}).sort("number_of_employees", -1).limit(10))
print(top10_employees.shape)
top10_employees

(10, 2)

                                         name  number_of_employees
0                                     Siemens               405000
1                                         IBM               388000
2                                      Toyota               320000
3                                      PayPal               300000
4  Nippon Telegraph and Telephone Corporation               227000
5                         Samsung Electronics               221726
6                                   Accenture               205000
7                   Tata Consultancy Services               200300
8                   Flextronics International               200000
9                                     Safeway               186000

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [152]:
# Your Code
cond01 = {'founded_month':{'$gte':6}}
cond02 = {'founded_month':{'$lte':12}}

companies_2nd_semester =pd.DataFrame(db.coleccion.find({'$and': [cond01,cond02]}, {'name':1, '_id':0, 'founded_month':1}).limit(1000))
companies_2nd_semester['founded_month'].unique()

array([10,  9, 11,  6, 12,  8,  7], dtype=int64)

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [160]:
# Your Code
cond01 = {'founded_year':{'$lt':2000}}
cond02 = {'acquisition.price_amount':{'$gt':10000000}}

companies_2000_10MA =pd.DataFrame(db.coleccion.find({'$and': [cond01,cond02]}, {'name':1, '_id':0, 'founded_year':1, 'acquisition.price_amount':1}))
print(companies_2000_10MA.shape)
companies_2000_10MA.head()

(205, 3)

         name  founded_year                   acquisition
0     Postini          1999   {'price_amount': 625000000}
1    SideStep          1999   {'price_amount': 180000000}
2  Recipezaar          1999    {'price_amount': 25000000}
3      PayPal          1998  {'price_amount': 1500000000}
4    Snapfish          1999   {'price_amount': 300000000}

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [ ]:
pd.DataFrame(db.coleccion.find({'$and': [cond01,cond02]}).limit(1000)).head(1)

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,founded_month,founded_day,deadpooled_year,tag_list,alias_list,email_address,phone_number,description,created_at,updated_at,overview,image,products,relationships,competitions,providerships,total_money_raised,funding_rounds,investments,acquisition,acquisitions,offices,milestones,video_embeds,screenshots,external_links,partners,deadpooled_month,deadpooled_day,deadpooled_url,ipo
0,52cdef7c4bab8bd675297d8a,Wetpaint,abc2,http://www.crunchbase.com/company/wetpaint,http://wetpaint-inc.com,http://digitalquarters.net/,http://digitalquarters.net/feed/,BachelrWetpaint,web,47.0,2005,10,17.0,1.0,"wiki, seattle, elowitz, media-industry, media-...",,info@wetpaint.com,206.859.6300,Technology Platform Company,2007-05-25 06:51:27,Sun Dec 08 07:15:44 UTC 2013,<p>Wetpaint is a technology platform company t...,"{'available_sizes': [[[150, 75], 'assets/image...","[{'name': 'Wikison Wetpaint', 'permalink': 'we...","[{'is_past': False, 'title': 'Co-Founder and V...","[{'competitor': {'name': 'Wikia', 'permalink':...",[],$39.8M,"[{'id': 888, 'round_code': 'a', 'source_url': ...",[],"{'price_amount': 30000000, 'price_currency_cod...",[],"[{'description': '', 'address1': '710 - 2nd Av...","[{'id': 5869, 'description': 'Wetpaint named i...",[],"[{'available_sizes': [[[150, 86], 'assets/imag...",[{'external_url': 'http://www.geekwire.com/201...,[],NaN,NaN,NaN,NaN

In [164]:
# Your Code
companies_acquisition_2010 = pd.DataFrame(db.coleccion.find({"acquisition.acquired_year":{"$gt":2010}}, {'_id':0, 'name':1, 'acquisition':1}).sort('acquisition.price_amount', -1))
print(companies_acquisition_2010.shape)
companies_acquisition_2010.head(3)

(736, 2)

                   name                                        acquisition
0              T-Mobile  {'price_amount': 39000000000, 'price_currency_...
1  Goodrich Corporation  {'price_amount': 18400000000, 'price_currency_...
2                   LSI  {'price_amount': 6600000000, 'price_currency_c...

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [168]:
# Your Code
companies_by_foundedYear = pd.DataFrame(db.coleccion.find((),{'name':1, '_id':0, 'founded_year':1}).sort('founded_year', -1))
companies_by_foundedYear['founded_year'].unique()

array([2013., 2012., 2011., 2010., 2009., 2008., 2007., 2006., 2005.,
       2004., 2003., 2002., 2001., 2000., 1999., 1998., 1997., 1996.,
       1995., 1994., 1993., 1992., 1991., 1990., 1989., 1988., 1987.,
       1986., 1985., 1984., 1983., 1982., 1981., 1980., 1979., 1978.,
       1977., 1976., 1975., 1974., 1973., 1972., 1971., 1970., 1969.,
       1968., 1967., 1966., 1965., 1964., 1963., 1962., 1961., 1960.,
       1959., 1958., 1957., 1955., 1954., 1953., 1952., 1951., 1950.,
       1949., 1948., 1947., 1946., 1945., 1943., 1941., 1940., 1939.,
       1938., 1937., 1936., 1934., 1933., 1931., 1930., 1928., 1926.,
       1925., 1924., 1923., 1922., 1921., 1920., 1919., 1918., 1915.,
       1914., 1912., 1910., 1909., 1907., 1906., 1904., 1903., 1902.,
       1901., 1900., 1899., 1898., 1897., 1896., 1894., 1892., 1890.,
       1889., 1888., 1887., 1885., 1883., 1881., 1880., 1879., 1870.,
       1868., 1867., 1865., 1863., 1861., 1857., 1854., 1851., 1848.,
       1847., 1846., 1844., 1843., 1840., 1839., 1836., 1835., 1833.,
       1802., 1800.,   nan])

In [169]:
companies_by_foundedYear.head(3)

        name  founded_year
0      Fixya        2013.0
1      Wamba        2013.0
2  Advaliant        2013.0

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [173]:
# Your Code
cond01 = {'founded_day':{'$gte':1}}
cond02 = {'founded_day':{'$lte':7}}

companies_7days =pd.DataFrame(db.coleccion.find({'$and': [cond01,cond02]},{'_id':0,'name':1,'founded_day':1, 'acquisition.price_amount':1}).sort('acquisition.price_amount', -1).limit(10))
print(companies_7days.shape)
companies_7days.head()

(10, 3)

       name  founded_day                   acquisition
0  Netscape            4  {'price_amount': 4200000000}
1    PayPal            1  {'price_amount': 1500000000}
2    Zappos            1  {'price_amount': 1200000000}
3   Alibaba            1  {'price_amount': 1000000000}
4   Postini            2   {'price_amount': 625000000}

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [174]:
# Your Code
cond01 = {'category_code':{'$eq':'web'}}
cond02 = {'number_of_employees':{'$gt':4000}}

companies_web_4000e =pd.DataFrame(db.coleccion.find({'$and': [cond01,cond02]},{'_id':0,'name':1,'category_code':1, 'number_of_employees':1}).sort('number_of_employees', -1).limit(10))
print(companies_web_4000e.shape)
companies_web_4000e.head()

(9, 3)

                            name category_code  number_of_employees
0                       Experian           web                15500
1                           eBay           web                15000
2                         Yahoo!           web                13600
3                        Rakuten           web                10000
4  Los Angeles Times Media Group           web                10000

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [175]:
# Your Code
cond01 = {'acquisition.price_amount':{'$gt':10000000}}
cond02 = {'acquisition.price_currency_code':{'$eq':'EUR'}}

companies_10Ma_euros =pd.DataFrame(db.coleccion.find({'$and': [cond01,cond02]},{'_id':0,'name':1,'acquisition.price_amount':1, 'acquisition.price_currency_code':1}))
print(companies_10Ma_euros.shape)
companies_10Ma_euros.head()

(7, 2)

                name                                        acquisition
0                ZYB  {'price_amount': 31500000, 'price_currency_cod...
1            Apertio  {'price_amount': 140000000, 'price_currency_co...
2  Greenfield Online  {'price_amount': 40000000, 'price_currency_cod...
3            Webedia  {'price_amount': 70000000, 'price_currency_cod...
4          Wayfinder  {'price_amount': 24000000, 'price_currency_cod...

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [178]:
# Your Code
pd.DataFrame(db.coleccion.find({'acquisition.acquired_month':{'$lte':3}},{'name':1,'acquisition':1,'_id':0}).limit(10))

          name                                        acquisition
0         Kyte  {'price_amount': None, 'price_currency_code': ...
1   NetRatings  {'price_amount': 327000000, 'price_currency_co...
2       blogTV  {'price_amount': None, 'price_currency_code': ...
3   Livestream  {'price_amount': None, 'price_currency_code': ...
4     iContact  {'price_amount': 169000000, 'price_currency_co...
5      Coghead  {'price_amount': None, 'price_currency_code': ...
6  Dailymotion  {'price_amount': 168000000, 'price_currency_co...
7     Netvibes  {'price_amount': None, 'price_currency_code': ...
8       Flickr  {'price_amount': None, 'price_currency_code': ...
9   BabyCenter  {'price_amount': None, 'price_currency_code': ...

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code