# Advanced Querying Mongo

Importing libraries and setting up connection

In [131]:
from pymongo import MongoClient
import pandas as pd

In [132]:
client = MongoClient()
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [133]:
client.list_database_names()

['admin', 'config', 'local', 'nuevo']

In [134]:
mydb = client["nuevo"]

In [135]:
list(mydb.list_collections())

[{'name': 'nuevo_dos',
  'type': 'collection',
  'options': {},
  'info': {'readOnly': False,
   'uuid': Binary(b'@YJ~\x81\xb5D3\xa8j\xe6\n\x80\xe7.!', 4)},
  'idIndex': {'v': 2, 'key': {'_id': 1}, 'name': '_id_'}}]

In [136]:
coleccion = mydb.nuevo_dos

In [138]:
#list(coleccion.find())[3]

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [147]:
len(list (coleccion.find({"name":"Babelgum"})))

1

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [247]:

list((coleccion.find({'number_of_employees': {"$gt": 5000}},{"name":1,"number_of_employees":1,"_id":0})).sort("number_of_employees",1).limit(20))

[{'name': 'Nintendo', 'number_of_employees': 5080},
 {'name': 'Hexaware Technologies', 'number_of_employees': 5200},
 {'name': 'Facebook', 'number_of_employees': 5299},
 {'name': 'OpenText', 'number_of_employees': 5300},
 {'name': 'LSI', 'number_of_employees': 5400},
 {'name': 'CPM Braxis', 'number_of_employees': 5400},
 {'name': 'Microchip Technologies', 'number_of_employees': 5500},
 {'name': 'Mediaset', 'number_of_employees': 5729},
 {'name': 'Mindray Medical International', 'number_of_employees': 5763},
 {'name': 'Baidu', 'number_of_employees': 6000},
 {'name': 'Dentsu', 'number_of_employees': 6000},
 {'name': 'Tata Communications', 'number_of_employees': 6000},
 {'name': 'Atmel', 'number_of_employees': 6000},
 {'name': 'Acxiom', 'number_of_employees': 6200},
 {'name': 'Acxiom', 'number_of_employees': 6200},
 {'name': 'SRA International', 'number_of_employees': 6400},
 {'name': "Moody's", 'number_of_employees': 6800},
 {'name': 'ManTech', 'number_of_employees': 7000},
 {'name': 'Adobe Systems', 'number_of_employees': 7173},
 {'name': 'Broadcom', 'number_of_employees': 7400}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [141]:
# Your Code
cond1={'founded_year': {"$gte": 2000}}
cond2 = {'founded_year': {"$lte": 2005}}

In [142]:
list(coleccion.find({'$and': [cond1, cond2]},{"name":1,"founded_year":1,"_id":0}))[:5]

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Omnidrive', 'founded_year': 2005}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [298]:
# Your Code
cond_1={'ipo.valuation_amount': {"$gt": 100000000}}
cond_2 = {'founded_year': {"$lt": 2010}}

In [301]:
list(coleccion.find({'$and': [cond_1, cond_2]},{"name":1,"ipo.valuation_amount":1,"_id":0}))[:3]

[{'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000}},
 {'name': 'Yelp', 'ipo': {'valuation_amount': 1300000000}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [220]:
# Your Code
cond_3={'number_of_employees': {"$lt": 1000}}
cond_4={'founded_year': {"$lt": 2005}}

In [238]:
list((coleccion.find({'$and': [cond_3, cond_4]},{"name":1,'founded_year':1,"number_of_employees":1,"_id":0})).sort("number_of_employees",1).limit(10))

[{'name': 'Fox Interactive Media',
  'number_of_employees': 0,
  'founded_year': 1979},
 {'name': 'Ticketmaster', 'number_of_employees': 0, 'founded_year': 1976},
 {'name': 'Eurekster', 'number_of_employees': 0, 'founded_year': 2004},
 {'name': 'MindTouch', 'number_of_employees': 0, 'founded_year': 2004},
 {'name': 'Skype', 'number_of_employees': 0, 'founded_year': 2003},
 {'name': 'Monster', 'number_of_employees': 0, 'founded_year': 1994},
 {'name': 'EditGrid', 'number_of_employees': 0, 'founded_year': 2003},
 {'name': 'Simpy', 'number_of_employees': 0, 'founded_year': 2004},
 {'name': 'Compete', 'number_of_employees': 0, 'founded_year': 2000},
 {'name': 'stylediary', 'number_of_employees': 0, 'founded_year': 2004}]

### 6. All the companies that don't include the `partners` field.

In [266]:
list(coleccion.find({'partners': {'$exists': False}}))

[]

### 7. All the companies that have a null type of value on the `category_code` field.

In [259]:
# Your Code

list(coleccion.find({"category_code": {"$type": "null"}}, {"_id":0, "nombre":1}))[:3]

[{}, {}, {}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [272]:
# Your Code
cond_5={'number_of_employees': {"$gte": 100}}
cond_6= {'number_of_employees': {"$lt": 1000}}

In [274]:
list(coleccion.find({'$and': [cond_5, cond_6]},{"name":1,"number_of_employees":1,"_id":0}))[:5]

[{'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'AddThis', 'number_of_employees': 120},
 {'name': 'OpenX', 'number_of_employees': 305},
 {'name': 'LifeLock', 'number_of_employees': 644},
 {'name': 'Jajah', 'number_of_employees': 110}]

### 9. Order all the companies by their IPO price in a descending order.

In [350]:
# Your Code

#list(coleccion.find().sort("ipo.valuation_amount",1))[:2]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [347]:
# Your Code

#list(coleccion.find().sort("number_of_employees",-1))

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [306]:
# Your Code

cond_7={"founded_month":{"$gte":6}}
list((coleccion.find({'$and': [cond_7]},{"name":1,"_id":0})).limit(1000))[:5]

[{'name': 'Wetpaint'},
 {'name': 'Zoho'},
 {'name': 'Digg'},
 {'name': 'Omnidrive'},
 {'name': 'Postini'}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [317]:
# Your Code
cond_10={'founded_year': {"$lt": 2000}}
cond_11= {'acquisitions.price_amount': {"$gt": 10000000}}

In [320]:
list(coleccion.find({'$and': [cond_10, cond_11]},{"name":1,"_id":0}))[:5]

[{'name': 'Fox Interactive Media'},
 {'name': 'eBay'},
 {'name': 'CBS'},
 {'name': 'Viacom'},
 {'name': 'Cisco'}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [19]:
# Your Code

cond_12={'founded_year': {"$gt":2010}}
cond_13= {'acquisitions.price_amount': {"$gt": 10000000}}

In [348]:
#list((coleccion.find({'$and': [cond_10, cond_11]},{"name":1,"acquisitions":1,"_id":0})).sort("acquisitions.price_amount",1))[:2]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [336]:
# Your Code

list((coleccion.find({"name":1,"founded_year":1,"_id":0})).sort("founded_year",1))[:2]

[]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [349]:
# Your Code

#list(coleccion.find({'founded_day':{"$lte":7}}).sort("acquisition.price_amount",-1).limit(10))[2]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [352]:
# Your Code
cond_20={"category_code": 'web'}
cond_21={"number_of_employees":{"$gt": 4000}}

In [353]:
list((coleccion.find({'$and': [cond_20, cond_21]},{"name":1,'category_code':1,"number_of_employees":1,"_id":0})).sort("number_of_employees",1).limit(10))

[{'name': 'Expedia', 'category_code': 'web', 'number_of_employees': 4400},
 {'name': 'AOL', 'category_code': 'web', 'number_of_employees': 8000},
 {'name': 'Webkinz', 'category_code': 'web', 'number_of_employees': 8657},
 {'name': 'Rakuten', 'category_code': 'web', 'number_of_employees': 10000},
 {'name': 'Los Angeles Times Media Group',
  'category_code': 'web',
  'number_of_employees': 10000},
 {'name': 'Groupon', 'category_code': 'web', 'number_of_employees': 10000},
 {'name': 'Yahoo!', 'category_code': 'web', 'number_of_employees': 13600},
 {'name': 'eBay', 'category_code': 'web', 'number_of_employees': 15000},
 {'name': 'Experian', 'category_code': 'web', 'number_of_employees': 15500}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [368]:
cond_24={"acquisition.price_amount":{"$gt":10000000}}
cond_25={"acquisition.price_currency_code":"EUR" }

In [372]:
list((coleccion.find({'$and': [cond_24, cond_25]},{"name":1,"acquisition":1,"_id":0})).limit(10))[:2]

[{'name': 'ZYB',
  'acquisition': {'price_amount': 31500000,
   'price_currency_code': 'EUR',
   'term_code': 'cash',
   'source_url': 'http://www.techcrunch.com/2008/05/16/danish-mobile-social-network-zyb-acquired-by-vodafone-for-e315-million/',
   'source_description': 'Danish Network ZYB Acquired By Vodafone For â‚¬31.5 million',
   'acquired_year': 2008,
   'acquired_month': 5,
   'acquired_day': 16,
   'acquiring_company': {'name': 'Vodafone', 'permalink': 'vodafone'}}},
 {'name': 'Apertio',
  'acquisition': {'price_amount': 140000000,
   'price_currency_code': 'EUR',
   'term_code': None,
   'source_url': 'http://www.techcrunch.com/2008/01/03/nokia-siemens-acquires-apertio-for-e140m/',
   'source_description': 'Nokia Siemens Acquires Apertio For â‚¬140m',
   'acquired_year': 2008,
   'acquired_month': 1,
   'acquired_day': 3,
   'acquiring_company': {'name': 'Nokia Siemens Networks',
    'permalink': 'nokia-siemens-networks'}}}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [359]:
# Your Code
list((coleccion.find({"acquisition.acquired_month":{"$lte":3}},{"name":1,"acquisition":1,"_id":0})).limit(10))[:2]

[{'name': 'Kyte',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/01/31/exclusive-kit-digital-acquires-kickapps-kewego-and-kyte-for-77-2-million/',
   'source_description': 'KIT digital Acquires KickApps, Kewego AND Kyte For $77.2 Million',
   'acquired_year': 2011,
   'acquired_month': 1,
   'acquired_day': 31,
   'acquiring_company': {'name': 'KIT digital', 'permalink': 'kit-digital'}}},
 {'name': 'NetRatings',
  'acquisition': {'price_amount': 327000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://login.vnuemedia.com/hr/login/login_subscribe.jsp?id=0oqDem1gYIfIclz9i2%2Ffqj5NxCp2AC5DPbVnyT2da8GyV2mXjasabE128n69OrmcAh52%2FGE3pSG%2F%0AEKRYD9vh9EhrJrxukmUzh532fSMTZXL42gwPB80UWVtF1NwJ5UZSM%2BCkLU1mpYBoHFgiH%2Fi0f6Ax%0A9yMIVxt47t%2BHamhEQ0nkOEK24L',
   'source_description': 'Nielsen buys rest of NetRatings',
   'acquired_year': 2007,
   'acquired_month': 2,
   'acquired_day': None,
   'acquiring_company': {'name': 'Nielsen', 'permalink': 'nielsen'}}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [25]:
# Your Code

In [375]:
cond_01= {"founded_year": {"$gt":2000}}
cond_02= {"founded_year":{"$lt": 2010}}
cond_03={"acquisition.acquired_year":{"$gt": 2010}}

In [379]:
list(coleccion.find({'$and': [cond_01, cond_02,cond_03]},{"name":1,"founded_year":1,"_id":0}))[:5]

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Geni', 'founded_year': 2006},
 {'name': 'Kyte', 'founded_year': 2006},
 {'name': 'Jingle Networks', 'founded_year': 2005}]

### 20. All the companies that have been 'deadpooled' after the third year.