# Advanced Querying Mongo

Importing libraries and setting up connection

In [163]:
from pymongo import MongoClient
import numpy as np
import pymongo
import pandas as pd
datos = pymongo.MongoClient()

In [164]:
pd.options.display.max_columns = None

In [165]:
datos = mydb.detalles

In [166]:
datos.list_database_names()

TypeError: 'Collection' object is not callable. If you meant to call the 'list_database_names' method on a 'Collection' object it is failing because no such method exists.

In [167]:
df = pd.read_json("../companies.json", lines=True)

In [168]:
df.head()

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,founded_month,founded_day,deadpooled_year,tag_list,alias_list,email_address,phone_number,description,created_at,updated_at,overview,image,products,relationships,competitions,providerships,total_money_raised,funding_rounds,investments,acquisition,acquisitions,offices,milestones,video_embeds,screenshots,external_links,partners,deadpooled_month,deadpooled_day,deadpooled_url,ipo
0,{'$oid': '52cdef7c4bab8bd675297d8a'},Wetpaint,abc2,http://www.crunchbase.com/company/wetpaint,http://wetpaint-inc.com,http://digitalquarters.net/,http://digitalquarters.net/feed/,BachelrWetpaint,web,47.0,2005.0,10.0,17.0,1.0,"wiki, seattle, elowitz, media-industry, media-...",,info@wetpaint.com,206.859.6300,Technology Platform Company,{'$date': 1180075887000},2013-12-08 07:15:44+00:00,<p>Wetpaint is a technology platform company t...,"{'available_sizes': [[[150, 75], 'assets/image...","[{'name': 'Wikison Wetpaint', 'permalink': 'we...","[{'is_past': False, 'title': 'Co-Founder and V...","[{'competitor': {'name': 'Wikia', 'permalink':...",[],$39.8M,"[{'id': 888, 'round_code': 'a', 'source_url': ...",[],"{'price_amount': 30000000, 'price_currency_cod...",[],"[{'description': '', 'address1': '710 - 2nd Av...","[{'id': 5869, 'description': 'Wetpaint named i...",[],"[{'available_sizes': [[[150, 86], 'assets/imag...",[{'external_url': 'http://www.geekwire.com/201...,[],NaN,NaN,NaN,NaN
1,{'$oid': '52cdef7c4bab8bd675297d8b'},AdventNet,abc3,http://www.crunchbase.com/company/adventnet,http://adventnet.com,,,manageengine,enterprise,600.0,1996.0,NaN,NaN,2.0,,Zoho ManageEngine,pr@adventnet.com,925-924-9500,Server Management Software,{'$date': 1180121062000},2012-10-31 18:26:09+00:00,"<p>AdventNet is now <a href=""/company/zoho-man...","{'available_sizes': [[[150, 55], 'assets/image...",[],"[{'is_past': True, 'title': 'CEO and Co-Founde...",[],"[{'title': 'DHFH', 'is_past': True, 'provider'...",$0,[],[],None,[],"[{'description': 'Headquarters', 'address1': '...",[],[],"[{'available_sizes': [[[150, 94], 'assets/imag...",[],[],NaN,NaN,NaN,NaN
2,{'$oid': '52cdef7c4bab8bd675297d8c'},Zoho,abc4,http://www.crunchbase.com/company/zoho,http://zoho.com,http://blogs.zoho.com/,http://blogs.zoho.com/feed,zoho,software,1600.0,2005.0,9.0,15.0,3.0,"zoho, officesuite, spreadsheet, writer, projec...",,info@zohocorp.com,1-888-204-3539,Online Business Apps Suite,Fri May 25 19:30:28 UTC 2007,2013-10-30 00:07:05+00:00,"<p>Zoho offers a suite of Business, Collaborat...","{'available_sizes': [[[150, 55], 'assets/image...","[{'name': 'Zoho Office Suite', 'permalink': 'z...","[{'is_past': False, 'title': 'CEO and Founder'...","[{'competitor': {'name': 'Empressr', 'permalin...",[],$0,[],[],None,[],"[{'description': 'Headquarters', 'address1': '...","[{'id': 388, 'description': 'Zoho Reaches 2 Mi...","[{'embed_code': '<object width=""430"" height=""2...",[],[{'external_url': 'http://www.online-tech-tips...,[],NaN,NaN,NaN,NaN
3,{'$oid': '52cdef7c4bab8bd675297d8d'},Digg,digg,http://www.crunchbase.com/company/digg,http://www.digg.com,http://blog.digg.com/,http://blog.digg.com/?feed=rss2,digg,news,60.0,2004.0,10.0,11.0,NaN,"community, social, news, bookmark, digg, techn...",,feedback@digg.com,(415) 436-9638,user driven social content website,Fri May 25 20:03:23 UTC 2007,2013-11-05 21:35:47+00:00,<p>Digg is a user driven social content websit...,"{'available_sizes': [[[150, 150], 'assets/imag...","[{'name': 'Digg', 'permalink': 'digg'}]","[{'is_past': False, 'title': 'CEO', 'person': ...","[{'competitor': {'name': 'Reddit', 'permalink'...","[{'title': 'Public Relations', 'is_past': True...",$45M,"[{'id': 1, 'round_code': 'b', 'source_url': 'h...",[],"{'price_amount': 500000, 'price_currency_code'...","[{'price_amount': None, 'price_currency_code':...","[{'description': None, 'address1': '135 Missis...","[{'id': 9588, 'description': 'Another Digg Exe...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[117, 150], 'assets/ima...",[{'external_url': 'http://www.sociableblog.com...,[],NaN,NaN,None,None
4,{'$oid': '52cdef7c4bab8bd675297d8e'},Facebook,facebook,http://www.crunchbase.com/company/facebook,http://facebook.com,http://blog.facebook.com,http://blog.facebook.com/atom.php,facebook,social,5299.0,2004.0,2.0,1.0,NaN,"facebook, college, students, profiles, network...",,,,Social network,Fri May 25 21:22:15 UTC 2007,2013-11-21 19:40:55+00:00,<p>Facebook is the world&#8217;s largest socia...,"{'available_sizes': [[[150, 61], 'assets/image...","[{'name': 'Facebook Platform', 'permalink': 'f...","[{'is_past': False, 'title': 'Founder and CEO,...","[{'competitor': {'name': 'MySpace', 'permalink...","[{'title': '', 'is_past': False, 'provider': {...",$2.43B,"[{'id': 2, 'round_code': 'angel', 'source_url'...","[{'funding_round': {'round_code': 'seed', 'sou...",None,"[{'price_amount': None, 'price_currency_code':...","[{'description': 'Headquarters', 'address1': '...","[{'id': 108, 'description': 'Facebook adds com...",[],"[{'available_sizes': [[[150, 68], 'assets/imag...",[{'external_url': 'http://latimesblogs.latimes...,[],NaN,NaN,,"{'valuation_amount': 104000000000, 'valuation_..."

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [170]:
babelgum = list(datos.find({"name":"Babelgum"}))[:2]

babelgum

[]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [171]:
empleados = pd.DataFrame(list(datos.find({"number_of_employees":{"$gt": 5000}}).sort("number_of_employees", -1)[:20]))
empleados

Empty DataFrame
Columns: []
Index: []

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [172]:
condicc1 = {"founded_year":{"$gte": 2000}}
condicc2 = {"founded_year":{"$lte": 2005}}
years = pd.DataFrame(list(datos.find({"$and":[cond1, cond2]}, {"name":1,"founded_year":1,"_id":0})))
years.head()

Empty DataFrame
Columns: []
Index: []

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [173]:
cond1 = {"founded_year":{"$lt": 2010}}
cond2 = {"ipo.valuation_amount":{"$gt": 100000000}}
valuation = pd.DataFrame(list(datos.find({"$and":[cond1, cond2]}, {"name":1,"ipo":1,"_id":0})))
valuation.head()

Empty DataFrame
Columns: []
Index: []

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [174]:
cond3 = {"number_of_employees":{"$lt": 1000}}
cond4 = {"founded_year":{"$lt": 2004}}
employes = pd.DataFrame(list(datos.find({"$and":[cond3, cond4]}, {"name":1,"_id":0}).sort("number_of_employees", -1)[:10]))
employes.head()

Empty DataFrame
Columns: []
Index: []

### 6. All the companies that don't include the `partners` field.

In [175]:
partners = pd.DataFrame(list(datos.find({"partners": {'$exists': False}}, {"name":1,"_id":0})))
partners.head()

Empty DataFrame
Columns: []
Index: []

### 7. All the companies that have a null type of value on the `category_code` field.

In [176]:
null = pd.DataFrame(list(datos.find({"category_code":{"$type":"null"}}, {"name":1,"_id":0})))
null.head()

Empty DataFrame
Columns: []
Index: []

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [177]:
condic5 = {"number_of_employees":{"$gte": 100}}
condic6 = {"number_of_employees":{"$lt": 1000}}
soluccion = pd.DataFrame(list(datos.find({"$and":[condic5, condic6]}, {"name":1,"number_of_employees":1 ,"_id":0})))
soluccion.head()

Empty DataFrame
Columns: []
Index: []

### 9. Order all the companies by their IPO price in a descending order.

In [178]:
IPO = pd.DataFrame(list(datos.find((),{"name":1,"_id":0}).sort("ipo", -1)))
IPO.head()

Empty DataFrame
Columns: []
Index: []

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [179]:
Maxemployees = pd.DataFrame(list(datos.find((),{"name":1,"_id":0}).sort("number_of_employees", -1)[:10]))
Maxemployees

Empty DataFrame
Columns: []
Index: []

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [180]:
Foundedtime = pd.DataFrame(list(datos.find(({"founded_month":{"$gt":6}}),{"name":1,"_id":0}))[:1000])
Foundedtime.head()

Empty DataFrame
Columns: []
Index: []

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [181]:
condicc7 = {"founded_year":{"$lt": 2000}}
condicc8 = {"acquisition.price_amount":{"$gt": 10000000}}
companiesFounded = pd.DataFrame(list(datos.find({"$and":[condicc7, condicc8]}, {"name":1,"_id":0})))
companiesFounded.head()

Empty DataFrame
Columns: []
Index: []

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [182]:
Acquisition= pd.DataFrame(list(datos.find({"acquisition.acquired_year":{"$gt":2010}},
               {"name":1,"acquisition.price_amount":1,"_id":0}).sort("acquisition.price_amount",-1)))
Acquisition.head()

Empty DataFrame
Columns: []
Index: []

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [183]:
YEARF = pd.DataFrame(list(datos.find((),{"name":1,"founded_year":1,"_id":0}).sort("founded_year", -1)))
YEARF.head()

Empty DataFrame
Columns: []
Index: []

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [184]:
primerasemana = pd.DataFrame(list(datos.find((),{"name":1,"founded_year":1,"_id":0}).sort("founded_year", -1)))
primerasemana.head(10)

Empty DataFrame
Columns: []
Index: []

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [185]:
condicc9 = {"number_of_employees":{"$gt":4000}}
condicc10 = {"category_code":"web"}
Webcategory = pd.DataFrame(list(datos.find({"$and":[condicc9,condicc10]},{"name":1,"_id":0}).sort("number_of_employees",-1)))
Webcategory.head()

Empty DataFrame
Columns: []
Index: []

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [187]:
condicc11 = {"acquisition.price_amount":{"$gt":10000000}}
condicc12 = {"acquisition.price_currency_code":"EUR"}
EUROS = pd.DataFrame(list(datos.find({"$and":[condicc11,condicc12]},{"name":1,"_id":0})))
EUROS

Empty DataFrame
Columns: []
Index: []

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [188]:
Primertrimestre = pd.DataFrame(list(datos.find(({"acquisition.acquired_month":{"$lte":3}}),{"name":1,"acquisition":1,"_id":0}))[:10])
Primertrimestre.head()

Empty DataFrame
Columns: []
Index: []

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code