# Advanced Querying Mongo

Importing libraries and setting up connection

In [1]:
!pip install pymongo
from pymongo import MongoClient
client = MongoClient()
import pandas as pd

Requirement already satisfied: pymongo in c:\users\lin\anaconda3\lib\site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\lin\anaconda3\lib\site-packages (from pymongo) (2.2.1)

 Ya he creado el DB directamente desde mongoDB
 En muchos queries me tomo la libertad de filtrar m치s para mostrar menos informaci칩n no valiosa para nosotros (corregir ejercicios), porque pienso en vuestros dedos 游녡游녡 游땍

In [3]:
mydb = client["LabMongo"]
coleccion = mydb.companies

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [4]:
# Your Code
query = list(coleccion.find({"name" : "Babelgum"}, {"name" : 1, "_id" : 0}))
print(f"hay {len(query)} match")
query[:1]

hay 1 match

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [62]:
# Your Code
query2 = list(coleccion.find({"number_of_employees" : {"$gt": 500}},
                            #Me tomo la libertad de filstrar m치s para mostrar menos
                            {"name" : 1, "number_of_employees" : 1, "_id": 0})
                            #Me tomo la libertad de filstrar m치s para mostrar menos)
                                .limit(20)
                                .sort("number_of_employees", -1))
print(f"hay {len(query2)} match")
query2[:5]

hay 20 match

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [38]:
# Your Code
query3 = list(coleccion.find({"founded_year" : {"$in" : [2000, 2001, 2002, 2003, 2004, 2005]}},
                       {"name" : 1, "founded_year" : 1, "_id" : 0 }))
print(f"hay {len(query3)} match")
query3[:10]

hay 3734 match

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Omnidrive', 'founded_year': 2005},
 {'name': 'StumbleUpon', 'founded_year': 2002},
 {'name': 'Gizmoz', 'founded_year': 2003},
 {'name': 'Helio', 'founded_year': 2005},
 {'name': 'Plaxo', 'founded_year': 2002},
 {'name': 'Technorati', 'founded_year': 2002}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [50]:
# Your Code
query4 = list(coleccion.find({"$and":
                                     [{"ipo" : {"valuation_amount": {"$gt" : 100000000}}},
                                      {"founded_year" : {"$lt" : 2010}}]},
                            {"name": 1, "ipo" : 1, "_id" : 0}))
print(f"hay {len(query4)} match")
query4[:5]

hay 0 match

[]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [60]:
# Your Code
# Me dice que lo ordene, pero no si de mayor a menor
# Limite a 10 compa침칤as, pero las 10 mayores, menores, o simplemente las primeras en mi DB?
# Voy a simplemente hacerlo en el orden que pide y ordenar de manera ascendente
query5 = list(coleccion.find({"$and":
                                     [{"number_of_employees" : {"$lt" : 1000}},
                                      {"founded_year" : {"$lt" : 2005}}]},
                            #Me tomo la libertad de filstrar m치s para mostrar menos
                            {"name" : 1, "number_of_employees" : 1, "founded_year" : 1, "_id": 0})
                            #Me tomo la libertad de filstrar m치s para mostrar menos
                            .sort("number_of_employees", 1)
                            .limit(10))
print(f"hay {len(query5)} match")
query5[:5]

hay 10 match

[{'name': 'Skype', 'number_of_employees': 0, 'founded_year': 2003},
 {'name': 'Simpy', 'number_of_employees': 0, 'founded_year': 2004},
 {'name': 'Eurekster', 'number_of_employees': 0, 'founded_year': 2004},
 {'name': 'Ticketmaster', 'number_of_employees': 0, 'founded_year': 1976},
 {'name': 'Fox Interactive Media',
  'number_of_employees': 0,
  'founded_year': 1979}]

### 6. All the companies that don't include the `partners` field.

In [9]:
# Your Code
query6 = list(coleccion.find({"partners" : {"$exists": False}},{"partners": 1}))
print(f"hay {len(query6)} match")
query6
#Todas las compa침칤as de nuestro BD tienen partners

hay 0 match

[]

In [37]:
# Muchas compa침칤as, tienen el field "partners" pero est치n vac칤as, no s칠 si eso es lo que piden
query6b = list(coleccion.find({"partners" : {"$eq": []}},{"partners": 1}))
print(f"hay {len(query6b)} match")
query6b[:10]

hay 18647 match

[{'_id': ObjectId('52cdef7c4bab8bd675297d8a'), 'partners': []},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8b'), 'partners': []},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8c'), 'partners': []},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8d'), 'partners': []},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8e'), 'partners': []},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8f'), 'partners': []},
 {'_id': ObjectId('52cdef7c4bab8bd675297d90'), 'partners': []},
 {'_id': ObjectId('52cdef7c4bab8bd675297d91'), 'partners': []},
 {'_id': ObjectId('52cdef7c4bab8bd675297d92'), 'partners': []},
 {'_id': ObjectId('52cdef7c4bab8bd675297d93'), 'partners': []}]

### 7. All the companies that have a null type of value on the `category_code` field.

In [69]:
# Your Code
query7 = list(coleccion.find({"category_code" : {"$type" : "null"}},
                            #Me tomo la libertad de filstrar m치s para mostrar menos
                            {"name" : 1, "category_code" : 1, "_id": 0}))
                            #Me tomo la libertad de filstrar m치s para mostrar menos
print(f"hay {len(query7)} match")
query7[:5]

hay 2751 match

[{'name': 'Collective', 'category_code': None},
 {'name': 'Snimmer', 'category_code': None},
 {'name': 'KoolIM', 'category_code': None},
 {'name': 'Level9 Media', 'category_code': None},
 {'name': 'VidKing', 'category_code': None}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [43]:
# Your Code
query8 = list(coleccion.find({"$and":
                                     [{"number_of_employees" : {"$lt" : 1000}},
                                      {"number_of_employees" : {"$gte" : 100}}]},
                            {"name" : 1,"number_of_employees" : 1, "_id" : 0 }))
print (f"hay {len(query8)} match")
query8[:10]

hay 917 match

[{'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'AddThis', 'number_of_employees': 120},
 {'name': 'OpenX', 'number_of_employees': 305},
 {'name': 'LifeLock', 'number_of_employees': 644},
 {'name': 'Jajah', 'number_of_employees': 110},
 {'name': 'Livestream', 'number_of_employees': 120},
 {'name': 'Ustream', 'number_of_employees': 250},
 {'name': 'iContact', 'number_of_employees': 300},
 {'name': 'Yelp', 'number_of_employees': 800},
 {'name': 'Dailymotion', 'number_of_employees': 120}]

### 9. Order all the companies by their IPO price in a descending order.

In [58]:
# Your Code
query9 = list(coleccion.find({},
                             {"name": 1,"ipo":1, "_id":0})
                             .sort("ipo", -1))
print (f"hay {len(query9)} match")
query9[:3]

hay 18801 match

[{'name': 'GREE',
  'ipo': {'valuation_amount': 108960000000,
   'valuation_currency_code': 'JPY',
   'pub_year': 2008,
   'pub_month': 12,
   'pub_day': 17,
   'stock_symbol': '3632'}},
 {'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}},
 {'name': 'Amazon',
  'ipo': {'valuation_amount': 100000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 1997,
   'pub_month': 5,
   'pub_day': None,
   'stock_symbol': 'NASDAQ:AMZN'}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [14]:
# Your Code

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [15]:
# Your Code

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [16]:
# Your Code

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [17]:
# Your Code

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [18]:
# Your Code

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [19]:
# Your Code

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [20]:
# Your Code

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [21]:
# Your Code

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [22]:
# Your Code

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [23]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [24]:
# Your Code