# Advanced Querying Mongo

Importing libraries and setting up connection

In [70]:
# from pymongo import MongoClient
# client = MongoClient("")
import pymongo
import pandas as pd
import numpy as np
pd.options.display.max_columns = None

In [6]:
cliente = pymongo.MongoClient()
cliente

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [7]:
cliente.list_database_names()

['admin', 'alojamientos', 'companies', 'config', 'local']

In [11]:
mybd = cliente.get_database("companies")

In [12]:
coleccion =mybd.companies

In [20]:
df = pd.read_json("../companies.json", lines = True)

In [71]:
df.head()

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,founded_month,founded_day,deadpooled_year,tag_list,alias_list,email_address,phone_number,description,created_at,updated_at,overview,image,products,relationships,competitions,providerships,total_money_raised,funding_rounds,investments,acquisition,acquisitions,offices,milestones,video_embeds,screenshots,external_links,partners,deadpooled_month,deadpooled_day,deadpooled_url,ipo
0,{'$oid': '52cdef7c4bab8bd675297d8a'},Wetpaint,abc2,http://www.crunchbase.com/company/wetpaint,http://wetpaint-inc.com,http://digitalquarters.net/,http://digitalquarters.net/feed/,BachelrWetpaint,web,47.0,2005.0,10.0,17.0,1.0,"wiki, seattle, elowitz, media-industry, media-...",,info@wetpaint.com,206.859.6300,Technology Platform Company,{'$date': 1180075887000},2013-12-08 07:15:44+00:00,<p>Wetpaint is a technology platform company t...,"{'available_sizes': [[[150, 75], 'assets/image...","[{'name': 'Wikison Wetpaint', 'permalink': 'we...","[{'is_past': False, 'title': 'Co-Founder and V...","[{'competitor': {'name': 'Wikia', 'permalink':...",[],$39.8M,"[{'id': 888, 'round_code': 'a', 'source_url': ...",[],"{'price_amount': 30000000, 'price_currency_cod...",[],"[{'description': '', 'address1': '710 - 2nd Av...","[{'id': 5869, 'description': 'Wetpaint named i...",[],"[{'available_sizes': [[[150, 86], 'assets/imag...",[{'external_url': 'http://www.geekwire.com/201...,[],NaN,NaN,NaN,NaN
1,{'$oid': '52cdef7c4bab8bd675297d8b'},AdventNet,abc3,http://www.crunchbase.com/company/adventnet,http://adventnet.com,,,manageengine,enterprise,600.0,1996.0,NaN,NaN,2.0,,Zoho ManageEngine,pr@adventnet.com,925-924-9500,Server Management Software,{'$date': 1180121062000},2012-10-31 18:26:09+00:00,"<p>AdventNet is now <a href=""/company/zoho-man...","{'available_sizes': [[[150, 55], 'assets/image...",[],"[{'is_past': True, 'title': 'CEO and Co-Founde...",[],"[{'title': 'DHFH', 'is_past': True, 'provider'...",$0,[],[],None,[],"[{'description': 'Headquarters', 'address1': '...",[],[],"[{'available_sizes': [[[150, 94], 'assets/imag...",[],[],NaN,NaN,NaN,NaN
2,{'$oid': '52cdef7c4bab8bd675297d8c'},Zoho,abc4,http://www.crunchbase.com/company/zoho,http://zoho.com,http://blogs.zoho.com/,http://blogs.zoho.com/feed,zoho,software,1600.0,2005.0,9.0,15.0,3.0,"zoho, officesuite, spreadsheet, writer, projec...",,info@zohocorp.com,1-888-204-3539,Online Business Apps Suite,Fri May 25 19:30:28 UTC 2007,2013-10-30 00:07:05+00:00,"<p>Zoho offers a suite of Business, Collaborat...","{'available_sizes': [[[150, 55], 'assets/image...","[{'name': 'Zoho Office Suite', 'permalink': 'z...","[{'is_past': False, 'title': 'CEO and Founder'...","[{'competitor': {'name': 'Empressr', 'permalin...",[],$0,[],[],None,[],"[{'description': 'Headquarters', 'address1': '...","[{'id': 388, 'description': 'Zoho Reaches 2 Mi...","[{'embed_code': '<object width=""430"" height=""2...",[],[{'external_url': 'http://www.online-tech-tips...,[],NaN,NaN,NaN,NaN
3,{'$oid': '52cdef7c4bab8bd675297d8d'},Digg,digg,http://www.crunchbase.com/company/digg,http://www.digg.com,http://blog.digg.com/,http://blog.digg.com/?feed=rss2,digg,news,60.0,2004.0,10.0,11.0,NaN,"community, social, news, bookmark, digg, techn...",,feedback@digg.com,(415) 436-9638,user driven social content website,Fri May 25 20:03:23 UTC 2007,2013-11-05 21:35:47+00:00,<p>Digg is a user driven social content websit...,"{'available_sizes': [[[150, 150], 'assets/imag...","[{'name': 'Digg', 'permalink': 'digg'}]","[{'is_past': False, 'title': 'CEO', 'person': ...","[{'competitor': {'name': 'Reddit', 'permalink'...","[{'title': 'Public Relations', 'is_past': True...",$45M,"[{'id': 1, 'round_code': 'b', 'source_url': 'h...",[],"{'price_amount': 500000, 'price_currency_code'...","[{'price_amount': None, 'price_currency_code':...","[{'description': None, 'address1': '135 Missis...","[{'id': 9588, 'description': 'Another Digg Exe...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[117, 150], 'assets/ima...",[{'external_url': 'http://www.sociableblog.com...,[],NaN,NaN,None,None
4,{'$oid': '52cdef7c4bab8bd675297d8e'},Facebook,facebook,http://www.crunchbase.com/company/facebook,http://facebook.com,http://blog.facebook.com,http://blog.facebook.com/atom.php,facebook,social,5299.0,2004.0,2.0,1.0,NaN,"facebook, college, students, profiles, network...",,,,Social network,Fri May 25 21:22:15 UTC 2007,2013-11-21 19:40:55+00:00,<p>Facebook is the world&#8217;s largest socia...,"{'available_sizes': [[[150, 61], 'assets/image...","[{'name': 'Facebook Platform', 'permalink': 'f...","[{'is_past': False, 'title': 'Founder and CEO,...","[{'competitor': {'name': 'MySpace', 'permalink...","[{'title': '', 'is_past': False, 'provider': {...",$2.43B,"[{'id': 2, 'round_code': 'angel', 'source_url'...","[{'funding_round': {'round_code': 'seed', 'sou...",None,"[{'price_amount': None, 'price_currency_code':...","[{'description': 'Headquarters', 'address1': '...","[{'id': 108, 'description': 'Facebook adds com...",[],"[{'available_sizes': [[[150, 68], 'assets/imag...",[{'external_url': 'http://latimesblogs.latimes...,[],NaN,NaN,,"{'valuation_amount': 104000000000, 'valuation_..."

In [24]:
df.columns

Index(['_id', 'name', 'permalink', 'crunchbase_url', 'homepage_url',
       'blog_url', 'blog_feed_url', 'twitter_username', 'category_code',
       'number_of_employees', 'founded_year', 'founded_month', 'founded_day',
       'deadpooled_year', 'tag_list', 'alias_list', 'email_address',
       'phone_number', 'description', 'created_at', 'updated_at', 'overview',
       'image', 'products', 'relationships', 'competitions', 'providerships',
       'total_money_raised', 'funding_rounds', 'investments', 'acquisition',
       'acquisitions', 'offices', 'milestones', 'video_embeds', 'screenshots',
       'external_links', 'partners', 'deadpooled_month', 'deadpooled_day',
       'deadpooled_url', 'ipo'],
      dtype='object')

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [25]:
q1 = pd.DataFrame(list(coleccion.find({"name" : "Babelgum"})))
q1

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7c4bab8bd675297da0,Babelgum,babelgum,http://www.crunchbase.com/company/babelgum,http://babelgum.com,http://babelgum.com/blog,http://feeds.feedburner.com/Babelgum,Babelgum,games_video,None,...,[],None,[],"[{'description': '', 'address1': '', 'address2...",[],None,[],[],[],[]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [55]:
q2 = pd.DataFrame(list(coleccion.find({'number_of_employees':{'$gt': 5000}}))[:20])
q2.name.unique()

array(['Facebook', 'eBay', 'Cisco', 'Yahoo!', 'Google', 'Intel',
       'Nintendo', 'Adobe Systems', 'Sony', 'PayPal',
       'The Walt Disney Company', 'AOL', 'Webkinz', 'Sun Microsystems',
       'Nokia', 'Rakuten', 'Microsoft', 'Apple', 'NetApp',
       'Motorola Solutions'], dtype=object)

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [36]:
cond1 = {"founded_year":{"$gte": 2000}}
cond2 = {"founded_year":{"$lte": 2005}}
q3 = pd.DataFrame(list(coleccion.find({"$and":[cond1, cond2]}, {"name":1,"founded_year":1,"_id":0})))
q3.head()

        name  founded_year
0   Wetpaint          2005
1       Zoho          2005
2       Digg          2004
3   Facebook          2004
4  Omnidrive          2005

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [39]:
cond3 = {"founded_year":{"$lt": 2010}}
cond4 = {"ipo.valuation_amount":{"$gt": 100000000}}
q4 = pd.DataFrame(list(coleccion.find({"$and":[cond3, cond4]}, {"name":1,"ipo":1,"_id":0})))
q4.head()

       name                                                ipo
0  Facebook  {'valuation_amount': 104000000000, 'valuation_...
1   Twitter  {'valuation_amount': 18100000000, 'valuation_c...
2      Yelp  {'valuation_amount': 1300000000, 'valuation_cu...
3  LinkedIn  {'valuation_amount': 9310000000, 'valuation_cu...
4    Amazon  {'valuation_amount': 100000000000, 'valuation_...

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [49]:
cond5 = {"founded_year":{"$lt": 2005}}
cond6 = {{'number_of_employees':{'$lt': 1000}}
q5 = pd.DataFrame(list(coleccion.find({"$and":[cond5, cond6]}, {"name":1,"_id":0}))[:10])
q5.head()

SyntaxError: invalid syntax (1017573288.py, line 3)

### 6. All the companies that don't include the `partners` field.

In [46]:

q6 = pd.DataFrame(list(coleccion.find({"partners": {'$exists': False}}, {"name":1,"_id":0})))
q6.head()

Empty DataFrame
Columns: []
Index: []

### 7. All the companies that have a null type of value on the `category_code` field.

In [47]:
q7= pd.DataFrame(list(coleccion.find({"category_code":{"$type":"null"}}, {"name":1,"_id":0})))
q7.head()

           name
0    Collective
1       Snimmer
2        KoolIM
3  Level9 Media
4       VidKing

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [53]:
cond8 = {'number_of_employees':{'$gte': 100}} 
cond7 = {'number_of_employees':{'$lt': 1000}}
         
q8 = pd.DataFrame(list(coleccion.find({"$and":[cond7, cond8]}, {"name":1,"_id":0})))
q8.head()

        name
0  AdventNet
1    AddThis
2      OpenX
3   LifeLock
4      Jajah

### 9. Order all the companies by their IPO price in a descending order.

In [60]:
q9= pd.DataFrame(list(coleccion.find().sort("ipo", -1)))

In [62]:
q9.head(10)

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7e4bab8bd67529a8b4,GREE,gree,http://www.crunchbase.com/company/gree,http://www.gree-corp.com,,,gree_corp,games_video,700.0,...,"[{'funding_round': {'round_code': 'seed', 'sou...",None,"[{'price_amount': 104000000, 'price_currency_c...","[{'description': 'Headquarters', 'address1': '...","[{'id': 1021, 'description': 'IPO', 'stoned_ye...","{'valuation_amount': 108960000000, 'valuation_...",[],"[{'available_sizes': [[[133, 150], 'assets/ima...",[],[]
1,52cdef7c4bab8bd675297d8e,Facebook,facebook,http://www.crunchbase.com/company/facebook,http://facebook.com,http://blog.facebook.com,http://blog.facebook.com/atom.php,facebook,social,5299.0,...,"[{'funding_round': {'round_code': 'seed', 'sou...",None,"[{'price_amount': None, 'price_currency_code':...","[{'description': 'Headquarters', 'address1': '...","[{'id': 108, 'description': 'Facebook adds com...","{'valuation_amount': 104000000000, 'valuation_...",[],"[{'available_sizes': [[[150, 68], 'assets/imag...",[{'external_url': 'http://latimesblogs.latimes...,[]
2,52cdef7c4bab8bd675297e7a,Amazon,amazon,http://www.crunchbase.com/company/amazon,http://amazon.com,,,amazon,ecommerce,NaN,...,"[{'funding_round': {'round_code': 'seed', 'sou...",None,"[{'price_amount': None, 'price_currency_code':...","[{'description': None, 'address1': '1200 12th ...","[{'id': 6931, 'description': 'How Many Kindle ...","{'valuation_amount': 100000000000, 'valuation_...","[{'embed_code': '<object width=""425"" height=""3...","[{'available_sizes': [[[150, 94], 'assets/imag...",[],[]
3,52cdef7c4bab8bd675297d94,Twitter,twitter,http://www.crunchbase.com/company/twitter,http://twitter.com,http://twitter.com/blog,http://feeds.feedburner.com/TwitterBlog,twitter,social,1300.0,...,[],None,"[{'price_amount': 15000000, 'price_currency_co...","[{'description': '', 'address1': '1355 Market ...","[{'id': 1, 'description': 'Survives iPhone 3G ...","{'valuation_amount': 18100000000, 'valuation_c...","[{'embed_code': '<iframe width=""430"" height=""2...","[{'available_sizes': [[[150, 74], 'assets/imag...",[{'external_url': 'http://sec.gov/cgi-bin/brow...,[]
4,52cdef7d4bab8bd675299d5d,Groupon,groupon,http://www.crunchbase.com/company/groupon,http://www.groupon.com,http://www.groupon.com/blog/,feed://feeds2.feedburner.com/grouponblog,groupon,web,10000.0,...,[{'funding_round': {'round_code': 'unattribute...,None,"[{'price_amount': None, 'price_currency_code':...","[{'description': 'HQ', 'address1': '600 W. Chi...","[{'id': 4396, 'description': 'Groupon Makes A ...","{'valuation_amount': 12800000000, 'valuation_c...","[{'embed_code': '<script src=""http://www.buzzs...","[{'available_sizes': [[[150, 97], 'assets/imag...",[{'external_url': 'http://web20show.com/2009/1...,[]
5,52cdef7c4bab8bd675298674,Tencent,tencent,http://www.crunchbase.com/company/tencent,http://www.tencent.com,,,,web,NaN,...,"[{'funding_round': {'round_code': 'b', 'source...",None,"[{'price_amount': None, 'price_currency_code':...","[{'description': '', 'address1': 'Tencent Buil...","[{'id': 7786, 'description': 'Annual revenue (...","{'valuation_amount': 11000000000, 'valuation_c...",[],[],[{'external_url': 'http://mashpedia.com/Tencen...,"[{'partner_name': 'CTQuan', 'homepage_url': 'h..."
6,52cdef7e4bab8bd67529b996,Western Digital,western-digital,http://www.crunchbase.com/company/western-digital,http://www.wdc.com/en,,,WesternDigital,hardware,NaN,...,"[{'funding_round': {'round_code': 'b', 'source...",None,"[{'price_amount': 685000000, 'price_currency_c...","[{'description': 'HQ', 'address1': '20511 Lake...","[{'id': 6497, 'description': 'WDÃ‚Â® COMPLETES A...","{'valuation_amount': 9430000000, 'valuation_cu...",[],"[{'available_sizes': [[[150, 133], 'assets/ima...",[{'external_url': 'http://www.facebook.com/Wes...,[]
7,52cdef7c4bab8bd675297e0c,LinkedIn,linkedin,http://www.crunchbase.com/company/linkedin,http://linkedin.com,http://blog.linkedin.com,,linkedin,social,4800.0,...,[],None,"[{'price_amount': None, 'price_currency_code':...","[{'description': 'HQ', 'address1': '2029 Stier...","[{'id': 10120, 'description': 'LinkedIn CEO Je...","{'valuation_amount': 9310000000, 'valuation_cu...",[],"[{'available_sizes': [[[150, 75], 'assets/imag...",[{'external_url': 'http://www.linkedin.com/in/...,[]
8,52cdef7c4bab8bd67529859a,BMC Software,bmc-software,http://www.crunchbase.com/company/bmc-software,http://www.bmc.com,http://www.bmc.com/devops,,bmcsoftware,software,NaN,...,[],None,"[{'price_amount': 800000000, 'price_currency_c...","[{'description': '', 'address1': '2101 City We...","[{'id': 12987, 'description': 'BMC Software Se...","{'valuation_amount': 6000000000, 'valuation_cu...",[],"[{'available_sizes': [[[150, 105], 'assets/ima...",[],[]
9,52cdef7c4bab8bd675298527,Rackspace,rackspace,http://www.crunchbase.com/company/rackspace,http://www.rackspace.com,http://www.rackspace.com/blog/index.php,http://www.rackspace.com/blog/?feed=rss2,Rackspace,software,NaN,...,[{'funding_round': {'round_code': 'unattribute...,None,"[{'price_amount': None, 'price_currency_code':...","[{'description': 'HQ', 'address1': '5000 Walze...","[{'id': 17986, 'description': 'Added Susan J. ...","{'valuation_amount': 5440000000, 'valuation_cu...","[{'embed_code': '<object width=""430"" height=""2...","[{'available_sizes': [[[150, 94], 'assets/imag...",[],[]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [63]:
q10= pd.DataFrame(list(coleccion.find().sort("number_of_employees", -1))[:10])

In [83]:
q10

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,founded_month,founded_day,deadpooled_year,deadpooled_month,deadpooled_day,deadpooled_url,tag_list,alias_list,email_address,phone_number,description,created_at,updated_at,overview,image,products,relationships,competitions,providerships,total_money_raised,funding_rounds,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7d4bab8bd67529941a,Siemens,siemens,http://www.crunchbase.com/company/siemens,http://www.siemens.com,,,Siemens,hardware,405000,1847,NaN,NaN,None,None,None,None,"automation, building-technologies, drive-techn...",,contact@siemens.com,49 89 636 34134,Electronics and Electrical Engineering,Thu Jul 31 09:29:43 UTC 2008,Thu Nov 28 20:32:55 UTC 2013,"<p>Siemens AG, an electronics and electrical e...","{'available_sizes': [[[150, 34], 'assets/image...",[],"[{'is_past': False, 'title': 'Chairman, Superv...",[],"[{'title': 'Application Development', 'is_past...",$8.9M,"[{'id': 17062, 'round_code': 'grant', 'source_...",[],None,"[{'price_amount': 418000000, 'price_currency_c...","[{'description': '', 'address1': 'Wittelsbache...","[{'id': 35852, 'description': 'Siemens Receive...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<iframe width=""420"" height=""3...","[{'available_sizes': [[[150, 92], 'assets/imag...",[],[]
1,52cdef7c4bab8bd67529856a,IBM,ibm,http://www.crunchbase.com/company/ibm,http://www.ibm.com,,,IBM,software,388000,1896,NaN,NaN,None,None,None,,,,ews@us.ibm.com,914-499-1900,,Fri Mar 14 22:55:52 UTC 2008,Sat Jan 04 02:56:24 UTC 2014,"<p>IBM, acronym for International Business Mac...","{'available_sizes': [[[150, 60], 'assets/image...","[{'name': 'Lotus Notes', 'permalink': 'lotus-n...","[{'is_past': False, 'title': 'Chairman of the ...","[{'competitor': {'name': 'BEA Systems', 'perma...","[{'title': '', 'is_past': False, 'provider': {...",$0,[],"[{'funding_round': {'round_code': 'c', 'source...",None,"[{'price_amount': None, 'price_currency_code':...","[{'description': 'Corporate Headquarters', 'ad...","[{'id': 10471, 'description': 'IBM Completes A...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[150, 93], 'assets/imag...","[{'external_url': 'http://mashpedia.com/IBM', ...",[]
2,52cdef7d4bab8bd675299d33,Toyota,toyota,http://www.crunchbase.com/company/toyota,http://www.toyota-global.com,,,Toyota,enterprise,320000,1933,NaN,NaN,None,None,None,None,None,,,81 5 6528 2121,Automotive,Mon Sep 22 22:00:26 UTC 2008,Mon Nov 11 16:24:21 UTC 2013,<p>Toyota operates 75 manufacturing companies ...,"{'available_sizes': [[[135, 37], 'assets/image...",[],"[{'is_past': False, 'title': '', 'person': {'f...",[],"[{'title': '', 'is_past': True, 'provider': {'...",$0,[],"[{'funding_round': {'round_code': 'a', 'source...",None,[],"[{'description': 'HQ', 'address1': 'Toyota Mot...",[],None,"[{'embed_code': '<iframe width=""430"" height=""3...","[{'available_sizes': [[[150, 84], 'assets/imag...",[],[]
3,52cdef7c4bab8bd675297e89,PayPal,paypal,http://www.crunchbase.com/company/paypal,http://www.paypal.com,,,paypal,finance,300000,1998,12.0,1.0,None,None,None,None,"moneytransfer, crunchbase, ecommerce, paypal, ...",,,207-619-2873,Internet payment service,Wed Aug 01 09:16:46 UTC 2007,Fri Dec 20 04:43:53 UTC 2013,<p>PayPal is an online payments and money tran...,"{'available_sizes': [[[150, 51], 'assets/image...","[{'name': 'PayPal Here', 'permalink': 'paypal-...","[{'is_past': False, 'title': 'Vice President, ...","[{'competitor': {'name': 'KushCash', 'permalin...","[{'title': 'Public Relations', 'is_past': True...",$197M,"[{'id': 284, 'round_code': 'd', 'source_url': ...","[{'funding_round': {'round_code': 'c', 'source...","{'price_amount': 1500000000, 'price_currency_c...","[{'price_amount': None, 'price_currency_code':...","[{'description': '', 'address1': '2145 E Hamil...","[{'id': 11916, 'description': 'Reserve Bank Of...",None,[],"[{'available_sizes': [[[150, 120], 'assets/ima...",[{'external_url': 'http://www.sociableblog.com...,[]
4,52cdef7e4bab8bd67529b0fe,Nippon Telegraph and Telephone Corporation,nippon-telegraph-and-telephone-corporation,http://www.crunchbase.com/company/nippon-teleg...,http://www.ntt.co.jp/index_e.html,,,,None,227000,1985,4.0,1.0,None,None,None,None,None,,,,,Tue Feb 17 16:43:28 UTC 2009,Mon Dec 23 19:36:20 UTC 2013,<p>In the information and communication techno...,"{'available_sizes': [[[150, 34], 'assets/image...",[],"[{'is_past': True, 'title': 'System consultant...",[],[],$0,[],"[{'funding_round': {'round_code': 'e', 'source...",None,[],"[{'description': 'NTT', 'address1': '3-1, Otem...",[],None,[],"[{'available_sizes': [[[150, 42], 'assets/imag...",[],[]
5,52cdef7d4bab8bd675298aa4,Samsung Electronics,samsung-electronics,http://www.crunchbase.com/company/samsung-elec...,http://www.samsung.com/us,http://www.samsungvillage.com/,,samsungtweets,hardware,221726,1969,2.0,12.0,None,None,None,None,electronics,,manta.client@gmail.com,1-800-726-7864,,Wed May 14 20:34:02 UTC 2008,Wed Dec 04 05:52:38 UTC 2013,"<p>Samsung Electronics Co. Ltd., together with...","{'available_sizes': [[[150, 78], 'assets/image...","[{'name': 'Samsung GALAXY Tab', 'permalink': '...","[{'is_past': False, 'title': 'President and CE...","[{'competitor': {'name': 'Numonyx', 'permalink...","[{'title': 'Electronics', 'is_past': False, 'p...",$0,[],"[{'funding_round': {'round_code': 'b', 'source...",None,"[{'price_amount': None, 'price_currency_code':...","[{'description': 'HQ - South Korea', 'address1...","[{'id': 11908, 'description': 'Samsung Ships 3...",None,"[{'embed_code': '<iframe src=""http://blip.tv/p...","[{'available_sizes': [[[94, 150], 'assets/imag...",[{'external_url': 'http://mashpedia.com/Samsun...,[]
6,52cdef7d4bab8bd675298b99,Accenture,accenture,http://www.crunchbase.com/company/accenture,http://www.accenture.com,http://www.accenture.com/Global/Accenture_Blogs/,http://feeds.accenture.com/Accenture_High_Perf...,accenture,consulting,205000,2001,1.0,1.0,None,None,None,None,,None,,,"Consulting, Technology, Outsourcing",Fri May 23 17:46:58 UTC 2008,Tue Dec 03 03:57:46 UTC 2013,<p>Accenture is a global management consulting...,"{'available_sizes': [[[150, 52], 'assets/image...","[{'name': 'Accenture Application Dev', 'permal...","[{'is_past': False, 'title': 'Chairman & CEO',...","[{'competitor': {'name': 'IBM', 'permalink': '...","[{'title': 'Public Relations', 'is_past': Fals...",$0,[],[{'funding_round': {'round_code': 'unattribute...,None,"[{'price_amount': None, 'price_currency_code':...","[{'description': '', 'address1': '1615 Murray ...","[{'id': 1824, 'description': 'Nokia and Accent...","{'valuation_amount': None, 'valuation_currency...",[],"[{'available_sizes': [[[150, 136], 'assets/ima...",[{'external_url': 'http://www.accenture.com/Gl...,[]
7,52cdef7e4bab8bd67529a657,Tata Consultancy Services,tata-consultancy-services,http://www.crunchbase.com/company/tata-consult...,http://www.tcs.com,,http://www.tcs.com/rss_feeds/Pages/feed.aspx?f=p,TCS_News,consulting,200300,1968,NaN,NaN,None,None,None,None,"tcs, india",,global.marketing@tcs.com,,,Wed Dec 03 11:25:19 UTC 2008,Thu May 09 11:58:45 UTC 2013,<p>When you choose Tata Consultancy Services (...,"{'available_sizes': [[[150, 18], 'assets/image...",[],"[{'is_past': False, 'title': 'Founder & Presid...","[{'competitor': {'name': 'Infosys Limited', 'p...",[],$0,[],[],None,[],"[{'description': 'World Headquarters', 'addres...",[],None,[],[],[],[]
8,52cdef7e4bab8bd67529aa51,Flextronics International,flextronics-international,http://www.crunchbase.com/company/flextronics-...,http://www.flextronics.com,http://www.flextronicsblog.com/,,flextronics,None,200000,1969,NaN,NaN,None,None,None,None,,,,408-576-7000,,Fri Jan 02 22:51:36 UTC 2009,Fri Nov 15 23:56:13 UTC 2013,"<p>Headquartered in Singapore, they are a lead...","{'available_sizes': [[[150, 18], 'assets/image...",[],"[{'is_past': False, 'title': 'CEO & Board of D...",[],[],$0,[],[{'funding_round': {'round_code': 'unattribute...,None,"[{'price_amount': None, 'price_currency_code':...","[{'description': 'US HQ', 'address1': '6201 Am...",[],None,[],"[{'available_sizes': [[[150, 107], 'assets/ima...",[],[]
9,52cdef7d4bab8bd675299156,Safeway,safeway,http://www.crunchbase.com/company/safeway,http://www.safeway.com,,,,other,186000,1915,NaN,NaN,None,None,None,None,,,,925-467-3000,food and drug retailer,Wed Jul 09 20:44:34 UTC 2008,Thu Dec 01 07:50:26 UTC 2011,"<p>Safeway, Inc., based in Pleasanton, Califor...","{'available_sizes': [[[150, 63], 'assets/image...",[],"[{'is_past': False, 'title': 'Board Member', '...",[],[],$0,[],[],None,[],"[{'description': 'HQ', 'address1': '5918 Stone...",[],None,[],"[{'available_sizes': [[[150, 123], 'assets/ima...",[],[]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [67]:
cond9 ={"founded_month":{"$gt": 6}}
q11= pd.DataFrame(list(coleccion.find({"$and":[cond9]},{"name":1,"_id":0}))[:1000])

In [68]:
q11.head()

        name
0   Wetpaint
1       Zoho
2       Digg
3  Omnidrive
4       eBay

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [69]:
df.columns

Index(['_id', 'name', 'permalink', 'crunchbase_url', 'homepage_url',
       'blog_url', 'blog_feed_url', 'twitter_username', 'category_code',
       'number_of_employees', 'founded_year', 'founded_month', 'founded_day',
       'deadpooled_year', 'tag_list', 'alias_list', 'email_address',
       'phone_number', 'description', 'created_at', 'updated_at', 'overview',
       'image', 'products', 'relationships', 'competitions', 'providerships',
       'total_money_raised', 'funding_rounds', 'investments', 'acquisition',
       'acquisitions', 'offices', 'milestones', 'video_embeds', 'screenshots',
       'external_links', 'partners', 'deadpooled_month', 'deadpooled_day',
       'deadpooled_url', 'ipo'],
      dtype='object')

In [81]:
cond10 = {"founded_year":{"$lt": 2000}}
cond11 = {"acquisition.price_amount": {"$gt": 1000000}}
q12= pd.DataFrame(list(coleccion.find({"$and":[cond10, cond11]},{"name":1,"_id":0})))

In [82]:
q12.head()

         name
0     Postini
1    SideStep
2  Recipezaar
3     Cyworld
4      PayPal

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [77]:
q13 = pd.DataFrame(list(coleccion.find({"acquisition.acquired_year":{"$gt":2010}},
               {"name":1,"acquisition.price_amount":1,"_id":0}).sort("acquisition.price_amount",-1)))

In [78]:
q13.head()

                     name                    acquisition
0                T-Mobile  {'price_amount': 39000000000}
1    Goodrich Corporation  {'price_amount': 18400000000}
2                     LSI   {'price_amount': 6600000000}
3  National Semiconductor   {'price_amount': 6500000000}
4                   Ariba   {'price_amount': 4300000000}

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [84]:
q14 = pd.DataFrame(list(coleccion.find((),{"name":1,"founded_year":1,"_id":0}).sort("founded_year", -1)))
q14.head()

        name  founded_year
0      Fixya        2013.0
1      Wamba        2013.0
2  Advaliant        2013.0
3       Fluc        2013.0
4     iBazar        2013.0

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [85]:
q15 = pd.DataFrame(list(coleccion
                        .find({"founded_day":{"$lte":7}},
                        {"name":1,"acquisition.price_amount":1,"_id":0})
                          .sort("acquisition.price_amount",-1))[:10])

In [87]:
q15

                name                   acquisition
0           Netscape  {'price_amount': 4200000000}
1             PayPal  {'price_amount': 1500000000}
2             Zappos  {'price_amount': 1200000000}
3            Alibaba  {'price_amount': 1000000000}
4            Postini   {'price_amount': 625000000}
5             Danger   {'price_amount': 500000000}
6  Clearwell Systems   {'price_amount': 410000000}
7         PrimeSense   {'price_amount': 345000000}
8             Amobee   {'price_amount': 321000000}
9        BlueLithium   {'price_amount': 300000000}

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [88]:
cond12 = {"number_of_employees":{"$gt":4000}}
cond13 = {"category_code":"web"}
q16 = pd.DataFrame(list(coleccion.find({"$and":[cond9,cond10]},
                                     {"name":1,"_id":0}).sort("number_of_employees",-1)))

In [89]:
q16.head()

                      name
0                   PayPal
1               ExxonMobil
2                   Google
3              kalimatapla
4  The Walt Disney Company

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [90]:
cond14 = {"acquisition.price_amount":{"$gt":10000000}}
cond15 = {"acquisition.price_currency_code":"EUR"}
q17 = pd.DataFrame(list(coleccion.find({"$and":[cond11,cond12]},{"name":1,"_id":0})))
q17

                           name
0                        PayPal
1              Sun Microsystems
2                           LSI
3                        VMware
4                         Xerox
5                        Novell
6  Affiliated Computer Services

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [91]:
q18 = pd.DataFrame(list(coleccion.find(({"acquisition.acquired_month":{"$lte":3}}),{"name":1,"acquisition":1,"_id":0}))[:10])
q18

          name                                        acquisition
0         Kyte  {'price_amount': None, 'price_currency_code': ...
1   NetRatings  {'price_amount': 327000000, 'price_currency_co...
2       blogTV  {'price_amount': None, 'price_currency_code': ...
3   Livestream  {'price_amount': None, 'price_currency_code': ...
4     iContact  {'price_amount': 169000000, 'price_currency_co...
5      Coghead  {'price_amount': None, 'price_currency_code': ...
6  Dailymotion  {'price_amount': 168000000, 'price_currency_co...
7     Netvibes  {'price_amount': None, 'price_currency_code': ...
8       Flickr  {'price_amount': None, 'price_currency_code': ...
9   BabyCenter  {'price_amount': None, 'price_currency_code': ...

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code